<template>
  <div class="sidebar-user-container" v-if="isProfileLoaded">
    <div class="sidebar-user-avatar-container">
        <router-link class="none-decoration" :to="$baseUrl + '/user'">
          <avatar :size="80" v-if="!user.avatar" :customStyle="{ display: 'inline-flex' }"
                  :username="user.name"></avatar>
          <img v-if="user.avatar" class="sidebar-user-avatar" alt="" :src="user.avatar">
        </router-link>

        <div class="sidebar-user-rating-body-container">
          <div class="sidebar-user-rating-title">Рейтинг:</div>
          <div>
            <i class="el-rate__icon el-icon-star-on"></i>
            <span class="sidebar-user-rating-count">5</span></div>
        </div>
      </div>
    <div class="sidebar-user-info-container">
      <div class="sidebar-user-name">{{user.name}}</div>
      <div class="sidebar-user-email">{{user.email}}</div>
      <div class="sidebar-user-datareg">Регистрация {{user.createdAt | dateShort }}</div>
    </div>

    <div class="sidebar-user-menu">
      <ul>
        <router-link tag="li" :to="$baseUrl + '/user'" exact>Статьи
          <span class="sidebar-user-menu-count">0</span>
        </router-link>
        <router-link tag="li" :to="$baseUrl + '/news'">Черновики
          <span class="sidebar-user-menu-count">0</span>
        </router-link>
        <router-link style="display: none" tag="li" :to="$baseUrl + '/articles'">Подписки
          <span class="sidebar-user-menu-count">24</span>
        </router-link>
        <router-link style="display: none" tag="li" :to="$baseUrl + '/reviews'">Уведомления
          <span class="sidebar-user-menu-count">146</span>
        </router-link>
      </ul>
    </div>

    <div class="sidebar-user-buttons">
      <button @click="settings" class="sidebar-user-buttons-primary">Настройки</button>
      <button @click="logout" class="sidebar-user-buttons-danger">Выход</button>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { AUTH_LOGOUT } from '../../store/actions/auth';

  export default {
    name: 'side-bar-user-page',
    computed: {
      ...mapGetters(['isProfileLoaded', 'user']),
    },
    methods: {
      logout() {
        this.$store.dispatch(AUTH_LOGOUT)
          .then(() => {
            this.$router.push(`${process.env.baseUrl}/`);
          });
      },
      settings() {
        this.$router.push(`${process.env.baseUrl}/user-settings`);
      },
    },
  };
</script>

<style scoped>
  .el-icon-star-on {
    color: #f7ba2a;
    font-size: 20px;
    margin: 0;
  }
</style>
