<template>
  <div>
    <a v-on:click="menuSwitch()" style="cursor: pointer">
      <div id="sidebar-mini" class="sidebar-mini">
        <div class="sidebar-switcher">
          <i v-if="menuVisible" class="fal fa-arrow-to-left"></i>
          <i v-else class="fal fa-arrow-to-right"></i>
        </div>
      </div>
    </a>

    <div id="sidebar" class="sidebar sidebar-hide-m">
      <component @switch-menu="menuSwitch" v-bind:is="userProfile"></component>

      <div class="to-top">
        <a v-on:click="scrollTop()" style="cursor: pointer">
          <div class="to-top-i"><i class="fal fa-arrow-to-top"></i></div>
        </a>
      </div>

    </div>
  </div>
</template>

<script>
  import SideBarMainMenu from './SidebarMainMenu';
  import SideBarUserPage from './SidebarUserPage';
  import SidebarAdmin from './SidebarAdmin';

  export default {
    components: { SideBarUserPage, SideBarMainMenu, SidebarAdmin },
    name: 'Sidebar',
    data() {
      return {
        menuVisible: false,
        adminMenu: false,
      };
    },
    mounted() {
      $(document).mouseup((e) => {
        const div = $('#sidebar');
        const div2 = $('#sidebar-mini');
        if (!div.is(e.target) && div.has(e.target).length === 0
                && !div2.is(e.target) && div2.has(e.target).length === 0) {
          this.menuVisible = false;
          $('.sidebar').removeClass('open');
          $('.main-container').removeClass('sidebar-open');
        }
      });
    },
    computed: {
      userProfile() {
        return this.$route.meta.menu || 'side-bar-main-menu';
      },
    },
    methods: {
      scrollTop() {
        window.scrollTo(0, 0);
      },
      menuSwitch() {
        if (!this.menuVisible) {
          this.menuVisible = true;
          $('.sidebar').addClass('open');
          $('.main-container').addClass('sidebar-open');
        } else {
          this.menuVisible = false;
          $('.sidebar').removeClass('open');
          $('.main-container').removeClass('sidebar-open');
        }
      },
    },
  };
</script>

<style scoped>
  .open {
    width: 200px!important;
    display: block;
  }

  .close {
    width: 40px!important;
  }
</style>
