<template>
  <div class="sidebar-user-menu">
    <ul>
      <li @click="addNewPost">Добавить публикацию <i class="fal fa-pen-square"></i></li>
      <router-link tag="li" :to="$baseUrl + '/admin-post-manager'"> Менеджер публикаций <i class="fal fa-list"></i></router-link>
      <router-link tag="li" :to="$baseUrl + '/user-administration'">Пользователи <i class="fal fa-users"></i></router-link>
      <router-link tag="li" :to="$baseUrl + '/source-list'">Источники <i class="fal fa-database"></i></router-link>
      <router-link tag="li" :to="$baseUrl + '/'">Лента <i class="fal fa-browser"></i></router-link>
    </ul>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { POST_ADD } from '../../store/actions/PostActions';

  export default {
    name: 'sidebar-admin',
    computed: {
      ...mapGetters(['newPostId']),
    },
    methods: {
      addNewPost() {
        const post = { title: 'Новая статья', text: '' };
        this.$store.dispatch(POST_ADD, post).then(() => {
          this.$router.push({ path: `${process.env.baseUrl}/edit/${this.newPostId}` });
        });
      },
    },
  };
</script>

<style scoped>
  .sidebar-user-menu li{
    font-size: 14px;
  }

  .sidebar-user-menu {
    text-align: left;
    margin-bottom: 17px;
    padding: 22px;
  }
</style>
