<template>
  <div>
  <div class="grid-x m-top">

      <vue-headful v-if="post"
              :title="'WOH.RU - ' + post.title"
              description="Description from vue-headful"
      />

    <loading v-if="loading"></loading>

    <div class="large-18 cell m-top">

      <div class="post-body">
        <div class="post-header">
          <h1>{{ post.title }}</h1>
        </div>

        <div class="post-source-container">
          <a class="post-source secondary-text" v-if="post.source" :href="post.source.url" target="_blank" title="источник">{{post.source.name}}</a>
          <div class="secondary-text">{{post.publishedAt | formatDate }}</div>
        </div>

        <div class="post-content">
          <img v-if="post.announce" class="post-teaser" :src="teaserImage">
          <div v-if="!post.announce" class="post-text" v-html="post.text"></div>

          <div class="post-header-info">
            <post-tags v-if="post" :post="post"></post-tags>
            <post-categories v-if="post" :post="post"></post-categories>
          </div>

          <div v-if="post.announce" class="post-text-details" v-html="post.text"></div>

        </div>

        <post-like v-if="post" :post="post" :user="user"></post-like>
      </div>

        <div class="some-else-container">
          <div class="sub-block-title"><h2>Смотрите также</h2></div>
          <div class="grid-x some-else-body">
          <router-link :style="{ backgroundImage: 'url' + '(' + nearestImg(post.nearestImage) + ')' }"
                       :to="$baseUrl + '/category/' + post.categories[0] + '/' + post.id" v-for="post in nearest" :key="post.id"
                       class="cell some-else-block">
              <div class="some-else-title-container">
                <post-categories :post="post"></post-categories>
                <div class="some-else-block-title">
                  {{post.title}}
                </div>
              </div>
            </router-link>
          </div>
        </div>

        <PostComments id="comments"></PostComments>

    </div>


    <div class="large-6 show-for-large">
      <div class="right-info first">
        <img style="margin-bottom: 30px" src="../../assets/images/pizza.jpg" alt="">
        <img src="../../assets/images/hrenodav.jpg" alt="">
      </div>
      <div class="right-info second">
        <most-commented></most-commented>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  /* eslint-disable no-console */
  import { mapGetters } from 'vuex';
  import { POST_REQUEST, NEAREST } from '../../store/actions/PostGet';
  import { COMMENTS_GET } from '../../store/actions/comments';
  import MostCommented from '../parts/MostCommented';

  export default {
    name: 'post-details',
    components: { MostCommented },
    data() {
      const testSrc = 'https://leonardo.osnova.io/5e960b5c-9153-a0cd-63c3-9fe9fc8b7f65/';
      return {
        testSrc,
      };
    },
    created() {
      this.$store.dispatch(POST_REQUEST, this.$route.params.id);
      this.$store.dispatch(NEAREST, this.$route.params.id);
      window.addEventListener('scroll', this.sideScroll);
    },
    mounted() {
    },
    computed: {
      ...mapGetters(['post', 'postStatus', 'user', 'posts', 'nearest']),
      loading() {
        return this.postStatus === 'loading';
      },
      teaserImage() {
        if (this.post.teaserImage && this.post.teaserImage.indexOf('http://dev.woh.ru') === -1) {
          this.post.teaserImage = `${process.env.imgRoot}${this.post.teaserImage}`;
        }
        return this.post.teaserImage;
      },
    },
    methods: {
      nearestImg(img) {
        let image = '';
        if (img && img.indexOf('http://dev.woh.ru') === -1) {
          image = `${process.env.imgRoot}${img}`;
        }
        return image;
      },
      sideScroll() {
        const elSecond = document.querySelector('.second');
        const elFirst = document.querySelector('.first');
        const distance = ($(elFirst).height() + $(elFirst).offset().top);
        if (window.scrollY > distance) {
          elSecond.setAttribute(
            'style',
            'position: fixed; top: 25px;',
          );
        } else { elSecond.removeAttribute('style'); }
      },
    },
    beforeRouteUpdate(to, from, next) {
      next();
      this.$store.dispatch(POST_REQUEST, this.$route.params.id);
      this.$store.dispatch(COMMENTS_GET, this.$route.params.id);
      this.$store.dispatch(NEAREST, this.$route.params.id);
    },
    destroyed() {
      window.removeEventListener('scroll', this.sideScroll);
    },
  };
</script>



