<template>
  <div class="grid-x m-top">
    <vue-headful
            :title="'WOH.RU - статьи по хэштегу #' + $route.params.tag"
            description="Description from vue-headful"
    />
    <div class="large-18 cell">
      <div class="posts-body">
        <div class="tag-title">
          <router-link :to="$baseUrl + '/'"><h2 class="tag-link">Все новости/</h2></router-link>
          <h2>#{{$route.params.tag}}</h2>
        </div>
        <post v-for="post in posts.posts" :key="post.id" v-bind:post="post" :user="user"></post>
      </div>
      <div style="height: 40px;">
        <loading v-if="posts.postsLoading"></loading>
      </div>
    </div>

    <div class="large-6 show-for-large">
      <div class="right-info first">
        <img style="margin-bottom: 30px" src="../../assets/images/pizza.jpg" alt="">
        <img src="../../assets/images/hrenodav.jpg" alt="">
      </div>
      <div class="right-info second">
        <most-commented></most-commented>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-unused-vars */

  import { mapGetters, mapState } from 'vuex';
  import { POSTS_BY_TAG_REQUEST, TAGS_PURGE } from '../../store/actions/PostGet';
  import MostCommented from '../parts/MostCommented';

  /* eslint-disable no-console */
  export default {
    name: 'posts-by-tag',
    components: { MostCommented },
    data() {
      const count = '';
      const tagObj = { page: '', tag: '' };
      return {
        count, tagObj,
      };
    },
    created() {
      this.$store.commit(TAGS_PURGE);
      this.tagObj.page = 0;
      this.tagObj.tag = this.$route.params.tag;
      this.$store.dispatch(POSTS_BY_TAG_REQUEST, this.tagObj).then(() => {
      });
      window.addEventListener('scroll', this.infinityScroll);
      window.addEventListener('scroll', this.sideScroll);
    },

    computed: {
      ...mapGetters({
        user: 'user',
        posts: 'postsByTag',
      }),
    },
    methods: {
      sideScroll() {
        const elSecond = document.querySelector('.second');
        const elFirst = document.querySelector('.first');
        const distance = ($(elFirst).height() + $(elFirst).offset().top);
        if (window.scrollY > distance) {
          elSecond.setAttribute(
            'style',
            'position: fixed; top: 25px;',
          );
        } else { elSecond.removeAttribute('style'); }
      },

      infinityScroll() {
        this.tagObj.tag = this.$route.params.tag;
        const total = this.posts.pageCount.totalPages - 1;
        const diffHeight = Math.floor(Math.abs(document.documentElement.scrollHeight
                - document.documentElement.scrollTop));
        if (diffHeight <= 2500 && !this.posts.postsLoading && total !== this.posts.pageCount.currentPage
        && this.posts.pageCount.totalPages !== 0) {
          this.posts.pageCount.currentPage += 1;
          this.tagObj.page = this.posts.pageCount.currentPage;
          this.$store.dispatch(POSTS_BY_TAG_REQUEST, this.tagObj).then(() => {
          });
        }
      },
    },
    watch: {
      $route(to, from) {
        this.$store.commit(TAGS_PURGE);
        this.tagObj.page = 0;
        this.tagObj.tag = this.$route.params.tag;
        this.$store.dispatch(POSTS_BY_TAG_REQUEST, this.tagObj);
      },
    },
    destroyed() {
      window.removeEventListener('scroll', this.infinityScroll);
      window.removeEventListener('scroll', this.sideScroll);
    },
  };
</script>

<style scoped>
  .bg-purple-light {
    background: #fcfeff;
  }
  .tag-link {
    color: #1681ff;
  }
  .tag-link:hover {
    color: #1e3b54;
  }

  @media screen and (max-width: 768px) {
    .tag-title {
      margin: 5px 0 25px;
    }
  }
</style>
