<template>
  <div class="post-body">

    <div class="post-header">
      <router-link v-bind:to="$baseUrl + '/category-list/' + post.categories[0] + '/post/' + post.id"><h1>{{ post.title }}</h1>
      </router-link>
      <router-link class="post-header-edit" v-if="user.access" v-bind:to="$baseUrl + '/edit/' + post.id">
        <i style="font-size: 14px;" class="far fa-pencil"></i>
      </router-link>
    </div>

    <div class="post-source-container">
      <a class="post-source secondary-text" v-if="post.source" :href="post.source.url" target="_blank" title="источник">{{post.source.name}}</a>
      <div class="secondary-text">{{post.publishedAt | formatDate }}</div>
    </div>

    <div class="post-content">

      <img v-if="post.announce" class="post-teaser" :src="teaserImage">
      <div v-if="!post.announce" class="post-text" v-html="post.text"></div>


      <div class="post-header-info">
        <post-tags v-if="post" :post="post"></post-tags>
        <post-categories v-if="post" :post="post"></post-categories>
      </div>

      <div v-if="post.announce" class="post-text" v-html="post.announce"></div>

      <div v-if="post.announce" class="post-announce-link">
        <router-link v-bind:to="$baseUrl + '/category-list/' + post.categories[0] + '/post/' + post.id">
          Читать далee...
        </router-link>
      </div>

    </div>

    <post-like v-if="post" :post="post" :user="user"></post-like>

  </div>
</template>

<script>

  export default {
    name: 'Post',
    props: ['post', 'user'],
    computed: {
      teaserImage() {
        if (this.post.teaserImage && this.post.teaserImage.indexOf('http://dev.woh.ru') === -1) {
          this.post.teaserImage = `${process.env.imgRoot}${this.post.teaserImage}`;
        }
        return this.post.teaserImage;
      },
    },
  };
</script>

<style scoped>
  .item {
    margin-top: 10px;
    margin-right: 40px;
  }
</style>
