<template>
  <div>
    <div class="grid-x m-top">

      <vue-headful
        :title="'WOH.RU - ' + categoryTitle"
        description="Description from vue-headful"
      />
      <div v-if="video" class="cell">
        <div class="sub-menu-container">
          <div class="sub-menu-item">
            <router-link :to="$baseUrl + '/category-list/video'" exact><h3>Всё</h3></router-link>
          </div>
          <div class="sub-menu-item">
            <router-link :to="$baseUrl + '/category-list/video/news'"><h3>Новости</h3></router-link>
          </div>
          <div class="sub-menu-item">
            <router-link :to="$baseUrl + '/category-list/video/articles'" exact><h3>Статьи</h3></router-link>
          </div>
          <div class="sub-menu-item">
            <router-link :to="$baseUrl + '/category-list/video/reviews'" exact><h3>Обзоры</h3></router-link>
          </div>
          <div class="sub-menu-item">
            <router-link :to="$baseUrl + '/category-list/video/preview'" exact><h3>Превью</h3></router-link>
          </div>
          <div class="sub-menu-item">
            <router-link :to="$baseUrl + '/category-list/video/guides'" exact><h3>Гайды</h3></router-link>
          </div>
        </div>
      </div>

      <div class="large-18 cell m-top">
        <div v-if="!video" class="tag-title">
          <router-link :to="$baseUrl + '/'"><h2 class="tag-link">Все новости/</h2></router-link>
          <h2>{{categoryTitle}}</h2>
        </div>

        <div class="posts-body">
          <post v-for="post in posts.posts" :key="post.id" v-bind:post="post" :user="user"></post>
        </div>
        <div style="height: 40px;">
          <loading v-if="posts.postsLoading"></loading>
        </div>
      </div>

      <div class="large-6 show-for-large">
        <div class="right-info first">
          <img style="margin-bottom: 30px" src="../../assets/images/pizza.jpg" alt="">
          <img src="../../assets/images/hrenodav.jpg" alt="">
        </div>
        <div class="right-info second">
          <most-commented></most-commented>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-unused-vars */

  import { mapGetters, mapState } from 'vuex';
  import {
    CATEGORY_PURGE,
    POSTS_BY_CATEGORY_REQUEST,
  } from '../../store/actions/PostGet';
  import '../../assets/js/auto-hiding';
  import MostCommented from '../parts/MostCommented';

  /* eslint-disable no-console */
  export default {
    name: 'posts-by-tag',
    components: { MostCommented },
    data() {
      const count = '';
      const category = { page: 0, category: [] };
      return {
        count, category,
      };
    },
    created() {
      this.$store.commit(CATEGORY_PURGE);
      this.category.category.push(this.$route.params.category);
      if (this.$route.params.sub) {
        this.category.category.push(this.$route.params.sub);
      }
      this.$store.dispatch(POSTS_BY_CATEGORY_REQUEST, this.category).then(() => {
      });
      window.addEventListener('scroll', this.infinityScroll);
      window.addEventListener('scroll', this.sideScroll);
    },

    computed: {
      ...mapGetters({
        user: 'user',
        posts: 'postsByCategory',
      }),
      video() {
        return this.$route.params.category === 'video';
      },
      categoryTitle() {
        let catTitle = '';
        if (this.$route.params.category === 'news') {
          catTitle = 'Новости';
        }
        if (this.$route.params.category === 'articles') {
          catTitle = 'Статьи';
        }
        if (this.$route.params.category === 'reviews') {
          catTitle = 'Обзоры';
        }
        if (this.$route.params.category === 'preview') {
          catTitle = 'Превью';
        }
        if (this.$route.params.category === 'guides') {
          catTitle = 'Гайды';
        }
        if (this.$route.params.category === 'video') {
          catTitle = 'Видео';
        }
        if (this.$route.params.category === 'esport') {
          catTitle = 'Киберспорт';
        }
        return catTitle;
      },
    },
    methods: {
      sideScroll() {
        const elFirst = document.querySelector('.first');
        const elSecond = document.querySelector('.second');
        const distance = ($(elFirst).height() + $(elFirst).offset().top);
        if (window.scrollY > distance) {
          elSecond.setAttribute(
            'style',
            'position: fixed; top: 25px;',
          );
        } else { elSecond.removeAttribute('style'); }
      },

      infinityScroll() {
        // this.category.category = this.$route.params.category; // тут потенциальная ошибка, нужно тестить!!!
        const total = this.posts.pageCount.totalPages - 1;
        const diffHeight = Math.floor(Math.abs(document.documentElement.scrollHeight
          - document.documentElement.scrollTop));
        if (diffHeight <= 2500 && !this.posts.postsLoading && total !== this.posts.pageCount.currentPage
          && this.posts.pageCount.totalPages !== 0) {
          this.posts.pageCount.currentPage += 1;
          this.category.page = this.posts.pageCount.currentPage;
          this.$store.dispatch(POSTS_BY_CATEGORY_REQUEST, this.category).then(() => {
          });
        }
      },
    },
    watch: {
      $route(to, from) {
        this.$store.commit(CATEGORY_PURGE);
        this.category.page = 0;
        this.category.category = [];
        this.category.category.push(this.$route.params.category);
        if (this.$route.params.sub) {
          this.category.category.push(this.$route.params.sub);
        }
        this.$store.dispatch(POSTS_BY_CATEGORY_REQUEST, this.category);
      },
    },
    destroyed() {
      window.removeEventListener('scroll', this.infinityScroll);
      window.removeEventListener('scroll', this.sideScroll);
    },
  };
</script>

<style scoped>
    .bg-purple-light {
        background: #fcfeff;
    }
    .router-link-exact-active h3, .active h3 {
      color: #1681FF;
      border-bottom: 2px solid #1681FF;
    }

    .sub-menu-container {
      padding: 0 30px 5px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .sub-menu-title a {
      color: #cc3507;
      padding-bottom: 5px!important;
    }

    .sub-menu-item {
      margin-right: 20px;
      font-size: 14px;
    }

    .tag-link {
      color: #1681ff;
    }
    .tag-link:hover {
      color: #1e3b54;
    }

    .tag-title {
      display: none;
    }

    @media screen and (max-width: 768px) {
      .sub-menu-container {
        padding: 0 0 15px;
      }

      .sub-menu-item {
        margin: 0 20px 5px 0;
      }
    }
    @media screen and (max-width: 639px) {
      .tag-title {
        margin: 5px 0 25px;
        display: flex;
      }
    }
</style>
