<template>
  <div class="profile-avatar-container">
    <croppa v-show="!user.avatar || changeAvatar" class="user-settings-avatar"
            v-model="uploadAvatar"
            @file-choose="showButtons"
            :width="200"
            :height="200"
            placeholder="Загрузите аватар"
            placeholder-color="#000"
            :placeholder-font-size="14"
            canvas-color="transparent"
            :show-remove-button="true"
            remove-button-color="black"
            :zoom-speed="10"
            :prevent-white-space="true"
            :show-loading="true"
            :remove-button-size="20">
    </croppa>

    <el-button-group class="button-group" v-if="changeAvatar">
      <el-button :disabled="saveAllow" class="button-approve" @click="save" type="text">
        <i class="far fa-check" title="Сохранить"></i>
      </el-button>
      <el-button class="button-cancel" @click="changeAvatar = false" type="text">
        <i class="fal fa-times" title="Отмена"></i>
      </el-button>
    </el-button-group>

    <div class="profile-avatar" v-if="user.avatar && !changeAvatar">
      <img class="user-settings-avatar-img" :src="user.avatar" alt="">
      <div class="profile-avatar-edit">
        <div @click="updateAvatar" class="profile-avatar-edit-el">
          <i class="el-icon-upload avatar-update-icon"></i>
          <div class="secondary-text">Обновить аватар</div>
        </div>
        <div class="profile-avatar-edit-x">
          <i @click="avatarDelete" title="Удалить" class="el-icon-close avatar-update-icon"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { AVATAR_DEL, AVATAR_SAVE } from '../../../store/actions/user';

  export default {
    name: 'UserAvatar',
    props: ['user'],
    data() {
      const changeAvatar = false;
      const uploadAvatar = null;
      const initAvatar = null;
      return {
        changeAvatar,
        uploadAvatar,
        initAvatar,
      };
    },
    computed: {
      saveAllow() {
        let allow = true;
        if (this.uploadAvatar !== null && this.uploadAvatar.hasImage()) {
          allow = false;
        }
        return allow;
      },
    },
    methods: {
      showButtons() {
        this.changeAvatar = true;
      },
      updateAvatar() {
        this.uploadAvatar.chooseFile();
        this.changeAvatar = true;
      },
      avatarDelete() {
        this.$store.dispatch(AVATAR_DEL).then(() => {
        });
      },
      save() {
        const avatar = { avatar: this.uploadAvatar.generateDataUrl('image/jpeg') };
        this.$store.dispatch(AVATAR_SAVE, avatar).then(() => {
          this.$message({ message: 'Сохранено.', type: 'success', center: true });
          this.changeAvatar = false;
        });
      },
    },
  };
</script>

<style scoped>
  .button-group {
    display: block;
    position: absolute;
    left: 65px;
    margin-top: 6px;
  }
  .secondary-text {
    color: whitesmoke;
    margin-left: 5px;
  }
</style>
