<template>
  <div class="m-top">
    <div class="post-body-entry">
      <div class="title">
        <h2>Добавление источника</h2>
      </div>

      <div>
        <div>
          <el-select v-model="source.settings.type" filterable placeholder="Выбрать">
            <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
          </el-select>
        </div>
        <div class="margin-top">
          <el-input class="input" placeholder="Название источника" v-model="source.name"></el-input>
          <el-input class="input" placeholder="Ссылка на корень сайта" v-model="source.url"></el-input>
          <el-input class="input" placeholder="Ссылка на страницу статей/новостей/rss/канал"
                    v-model="source.settings.url"></el-input>
          <el-input class="input"
                    placeholder="css-селектор для страницы конкретной новости, который выбирает текст новости"
                    v-model="source.settings.contentSelector"></el-input>
        </div>
      </div>

      <!--    <div v-if="source.settings.type === 1">-->
      <!--      <div>Дополнительные опции</div>-->
      <!--      <el-input class="input margin-top" placeholder="css-селектор для страницы новостей, который выбирает все ссылки на новости"-->
      <!--                v-model="source.settings.linksSelector"></el-input>-->
      <!--      <el-input class="input" placeholder="css-селектор для страницы новостей который выбирает анонсы если они там есть"-->
      <!--                v-model="source.settings.descriptionSelector"></el-input>-->
      <!--      <el-input class="input" placeholder="css-селектор для страницы конкретной новости, который выбирает заголовок"-->
      <!--                v-model="source.settings.titlesSelector"></el-input>-->
      <!--      <el-input class="input"-->
      <!--                placeholder="css-селектор для страницы конкретной новости, который выбирает заголовок новости"-->
      <!--                v-model="source.settings.titleSelector"></el-input>-->
      <!--      <el-input class="input"-->
      <!--                placeholder="css-селектор для страницы конкретной новости, который выбирает дату новости, если она там есть"-->
      <!--                v-model="source.settings.datesSelector"></el-input>-->
      <!--      <el-input class="input"-->
      <!--                placeholder="поле, куда можно ввести формат даты, если вдруг дата указана в каком-нибудь ебанутом формате"-->
      <!--                v-model="source.settings.dateFormat"></el-input>-->
      <!--      <el-input class="input" placeholder="css-селектор для страницы новостей на кнопку далее или ее аналог"-->
      <!--                v-model="source.settings.nextSelector"></el-input>-->
      <!--      <el-input class="input" placeholder="css-селектор для страницы конкретной новости, который выбирает текст новости"-->
      <!--                v-model="source.settings.contentSelector"></el-input>-->
      <!--      <el-input class="input"-->
      <!--                placeholder="css-селектор для страницы конкретной новости, который выбирает следующую страницу, если новость разбита на страницы"-->
      <!--                v-model="source.settings.nextContentSelector"></el-input>-->
      <!--      <el-input class="input"-->
      <!--                placeholder="css-селектор для страницы конкретной новости, который выбирает картинку-превью"-->
      <!--                v-model="source.settings.previewSelector"></el-input>-->
      <!--    </div>-->

      <el-button size="small" type="primary" v-on:click="sourceAdd()">Сохранить</el-button>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-console */
  import { mapGetters } from 'vuex';
  import { SOURCE_ADD } from '../../../store/actions/Source';

  export default {
    name: 'SourceAdd',
    data() {
      const source = {
        name: '',
        url: '',
        settings: {
          url: null,
          linksSelector: null,
          descriptionSelector: null,
          titlesSelector: null,
          titleSelector: null,
          datesSelector: null,
          dateFormat: null,
          nextSelector: null,
          contentSelector: null,
          nextContentSelector: null,
          previewSelector: null,
          isApproved: true,
          type: null,
        },
      };

      return {
        source,
        options: [{
          value: 2,
          label: 'rss-сайт',
        }, {
          value: 3,
          label: 'youtube',
        }],
      };
    },
    computed: {
      ...mapGetters(['newSourceId']),
    },
    methods: {
      sourceAdd() {
        this.$store.dispatch(SOURCE_ADD, this.source).then(() => {
          this.$router.push({ path: `${process.env.baseUrl}/source/${this.newSourceId}` });
        });
      },
    },
  };
</script>

<style scoped>
  .input {
    margin-bottom: 20px;
  }

  .sub-title {
    margin: 10px 0 20px 20px;
    color: #3d4959;
    font-weight: 600;
  }

  .margin-top {
    margin-top: 20px;
  }

</style>
