<template>
  <div class="grid-x m-top">
    <div style="margin-bottom: 40px" class="large-18 cell post-body-entry">
      <div v-if="source.id !== 0" class="grid-x grid-margin-x admin-post-list" v-for="(source, index) in sources" :key="source.id">
        <div class="cell auto admin-post-list-title">
          <i v-if="source.isLocked" class="el-icon-loading"></i>
          <source-online :source="source"></source-online>
          <a :href="source.url" target="_blank"> {{source.name}} <i class="far fa-link link"></i></a>
        </div>
        <div class="cell shrink source-buttons">
          <a v-on:click="sourceRun(source.id)"><i class="far fa-sync-alt"></i></a>
          <router-link v-bind:to="$baseUrl + '/source/' + source.id"><i class="far fa-cog"></i></router-link>
          <a v-on:click="sourceDelete(index, source.id)"><i class="far fa-trash-alt"></i></a>
        </div>
        <div style="padding: 0 15px" class="cell admin-post-list-info">
          <span>id: {{source.id}}</span>
        </div>
      </div>
    </div>
    <div class="large-6 show-for-large">
      <div v-scroll="sideScroll" class="grid-content bg-purple-light admin-right-panel-info admin-right-panel-body">
        <router-link :to="$baseUrl + '/new-source'">Добавить источник</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-console */

  import { mapGetters } from 'vuex';
  import { SOURCES_GET, SOURCE_DELETE, SOURCE_RUN } from '../../../store/actions/Source';
  import SourceOnline from './parts/SourceOnline';

  export default {
    name: 'sources-list',
    components: { SourceOnline },
    data() {
      return {
      };
    },

    created() {
      this.$store.dispatch(SOURCES_GET).then(() => {
      });
    },
    computed: {
      ...mapGetters(['sources']),
    },
    methods: {
      sideScroll(evt, el) {
        if (window.scrollY > 90) {
          el.setAttribute(
            'style',
            'position: fixed; top: 25px; width: 227px',
          );
        } else { el.removeAttribute('style'); }
      },
      sourceDelete(index, id) {
        this.$confirm('Вы собираетесь удалить этот пост. Продолжить?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning',
        }).then(() => {
          this.sources.splice(index, 1);
          this.$store.dispatch(SOURCE_DELETE, id);
          this.$message({
            type: 'success',
            message: 'Источник удалён',
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Удаление отменено',
          });
        });
      },
      sourceRun(id) {
        this.$store.dispatch(SOURCE_RUN, id);
      },
    },
  };
</script>

<style scoped>
.link {
  font-size: 12px;
  vertical-align: super;
}
</style>
