<template>
  <div class="m-top">
    <div v-if="!sourceLoading" class="post-body-entry">
        <div class="source-title"><h2>{{source.name}}</h2></div>
        <div class="source-info">
          <div><span>id источника:</span> {{source.id}}</div>
          <div><span>Дата добавления:</span> {{source.createdAt | formatDate}}</div>
          <div><span>Дата последнего получения:</span> {{source.lastPostDate | formatDate}}</div>
        </div>

      <div class="source-settings-show" >
        <a v-on:click="saveSource">
          Сохранить
        </a>
        <a v-on:click="sourceDelete">
          Удалить
        </a>
      </div>
        <div class="source-settings">

          <el-select v-model="source.settings.type" filterable placeholder="Выбрать">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>

          <el-input class="input" placeholder="Название источника" v-model="source.name"></el-input>
          <el-input class="input" placeholder="Ссылка на корень сайта" v-model="source.url"></el-input>
          <el-input class="input" placeholder="Ссылка на страницу статей/новостей/rss/канал"
                    v-model="source.settings.url"></el-input>
          <el-input v-if="source.settings.type === 2" class="input"
                    placeholder="css-селектор для страницы конкретной новости, который выбирает текст новости"
                    v-model="source.settings.contentSelector"></el-input>

<!--            <el-form-item label="css-селектор для страницы новостей, который выбирает все ссылки на новости">-->
<!--              <el-input v-model="source.settings.linksSelector" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="css-селектор для страницы новостей который выбирает анонсы если они там есть">-->
<!--              <el-input v-model="source.settings.descriptionSelector" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="css-селектор для страницы конкретной новости, который выбирает заголовок">-->
<!--              <el-input v-model="source.settings.titlesSelector" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="css-селектор для страницы конкретной новости, который выбирает заголовок новости">-->
<!--              <el-input v-model="source.settings.titleSelector" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item-->
<!--              label="css-селектор для страницы конкретной новости, который выбирает дату новости, если она там есть">-->
<!--              <el-input v-model="source.settings.datesSelector" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item-->
<!--              label="поле, куда можно ввести формат даты, если вдруг дата указана в каком-нибудь ебанутом формате">-->
<!--              <el-input v-model="source.settings.dateFormat" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="css-селектор для страницы новостей на кнопку далее или ее аналог">-->
<!--              <el-input v-model="source.settings.nextSelector" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="css-селектор для страницы конкретной новости, который выбирает текст новости">-->
<!--              <el-input v-model="source.settings.contentSelector" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item-->
<!--              label="css-селектор для страницы конкретной новости, который выбирает следующую страницу, если новость разбита на страницы">-->
<!--              <el-input v-model="source.settings.nextContentSelector" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="css-селектор для страницы конкретной новости, который выбирает картинку-превью">-->
<!--              <el-input v-model="source.settings.previewSelector" auto-complete="off"></el-input>-->
<!--            </el-form-item>-->
        </div>

    </div>
  </div>
</template>

<script>
  /* eslint-disable no-console */
  import { mapGetters } from 'vuex';
  import { POSTS_PREVIEW, POSTS_PREVIEW_BS } from '../../../store/actions/SourcePreview';
  import { SOURCE_GET, SOURCE_SAVE, SOURCE_DELETE } from '../../../store/actions/Source';

  export default {
    name: 'source-settings',
    data() {
      const value = '';
      return {
        options: [{
          value: 1,
          label: 'Обычный сайт',
        }, {
          value: 2,
          label: 'rss-сайт',
        }, {
          value: 3,
          label: 'youtube',
        }],
        value,
      };
    },
    created() {
      this.$store.dispatch(POSTS_PREVIEW_BS, this.$route.params.id);
      this.$store.dispatch(SOURCE_GET, this.$route.params.id);
      this.$store.dispatch(POSTS_PREVIEW);
    },
    computed: {
      ...mapGetters(['postsPreview', 'user', 'source', 'sourceLoading']),
      loading() {
        return this.postStatus === 'loading';
      },
    },
    methods: {
      saveSource() {
        this.$store.dispatch(SOURCE_SAVE, this.source);
      },
      sourceDelete() {
        this.$confirm('Вы собираетесь удалить этот пост. Продолжить?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning',
        }).then(() => {
          this.$store.dispatch(SOURCE_DELETE, this.source.id).then(() => {
            this.$router.push(`${process.env.baseUrl}/source-list`);
          });
          this.$message({
            type: 'success',
            message: 'Источник удалён',
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Удаление отменено',
          });
        });
      },
    },
  };
</script>

<style scoped>

</style>



