<template>
    <div v-if="post.tags.length > 0" class="tags-container">
        <div class="post-hashtag" v-for="tag in post.tags">
           <router-link class="secondary-text" :to="$baseUrl + '/tag/' + tag">
               #{{ tag }}
           </router-link>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'PostTags',
    props: ['post'],
  };
</script>

<style scoped>
  .tags-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
</style>
