<template>
  <div>
    <vue-headful
      title="WOH.RU - профиль"
      description="Description from vue-headful"
    />
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'user',
    created() {
    },

    computed: {
    },
    methods: {
    },
    destroyed() {
    },
  };
</script>

<style scoped>
  .router-link-exact-active.active {
    border-bottom: 3px solid dodgerblue;
    padding-bottom: 5px;
  }
</style>
