<template>
  <div  class="grid-x">
    <div v-if="changeView" class="cell auto admin-list-body">
      <div class="grid-x grid-margin-x admin-post-list" v-for="(post, index) in posts.posts" :key="post.id">

        <div class="cell auto">
          <div class="admin-post-list-title">
            <router-link v-bind:to="$baseUrl + '/category-list/' + post.categories[0] + '/post/' + post.id">{{post.title}}</router-link>
          </div>
          <div class="admin-post-list-info">
            <span>id: {{post.id}}</span>
            <span>Дата публикации: {{ post.createdAt | date }}</span>
            <span v-if="post.source">Источник: <a :href="post.source.url" target="_blank">{{post.source.name}}</a></span>
          </div>
        </div>

        <div class="cell shrink">
          <el-dropdown trigger="click">
          <span class="el-dropdown-link">
            <i style="font-size: 30px" class="el-icon-more el-dropdown-link-i"></i>
          </span>
            <el-dropdown-menu slot="dropdown">
              <router-link v-bind:to="$baseUrl + '/edit/' + post.id">
                <el-dropdown-item>Редактировать</el-dropdown-item>
              </router-link>
              <a v-on:click="postDelete(index, post.id)">
                <el-dropdown-item>Удалить</el-dropdown-item>
              </a>
              <el-dropdown-item>Action 3</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
      <div v-show="posts.postsLoading" style="height: 60px;"><loading></loading></div>
    </div>


    <div v-else class="large-18 medium-18 cell">
      <div class="posts-body">
        <post v-for="post in posts.posts" :key="post.id" v-bind:post="post" :user="user"></post>
      </div>
    </div>

    <div class="large-6 medium-6">
      <div v-scroll="sideScroll" class="admin-right-panel-info block-shadow admin-right-panel-body">
        <div>
          Опубликовано <span style="color: green; font-weight: bold">{{posts.postsCount}}</span>
        </div>
        <div class="admin-chang-view-button">
          <el-button size="mini" type="primary" v-on:click="changeViewButton">{{changeViewText}}</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-unused-vars */

  import { mapGetters } from 'vuex';
  import { POSTS_PW_REQUEST } from '../../../store/actions/PostGet';
  import { POST_DELETE } from '../../../store/actions/PostActions';
  /* eslint-disable no-console */
  export default {
    name: 'AdminPublishedWaiting',
    data() {
      const changeView = true;
      const changeButtonText = '';
      const page = 0;
      const count = '';
      return {
        page, count, changeView, changeButtonText,
      };
    },
    created() {
      if (this.posts.posts.length === 0) {
        this.$store.dispatch(POSTS_PW_REQUEST, 0).then(() => {
        });
      }
      window.addEventListener('scroll', this.infinityScroll);
    },

    computed: {
      ...mapGetters({
        user: 'user',
        posts: 'publishedWaitingPosts',
      }),
      changeViewText() {
        if (!this.changeView) {
          this.changeButtonText = 'Показать список';
          return this.changeButtonText;
        }
        this.changeButtonText = 'Показать публикации';
        return this.changeButtonText;
      },
    },
    methods: {
      sideScroll(evt, el) {
        if (window.scrollY > 90) {
          el.setAttribute(
            'style',
            'position: fixed; top: 25px; width: 227px',
          );
        } else { el.removeAttribute('style'); }
      },
      postDelete(index, id) {
        this.$confirm('Вы собираетесь удалить этот пост. Продолжить?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning',
        }).then(() => {
          this.posts.posts.splice(index, 1);
          this.$store.dispatch(POST_DELETE, id);
          this.$message({
            type: 'success',
            message: 'Пост удалён',
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Удаление отменено',
          });
        });
      },
      infinityScroll() {
        const total = this.posts.pageCount.totalPages - 1;
        const diffHeight = Math.floor(Math.abs(document.documentElement.scrollHeight
          - document.documentElement.scrollTop));
        if (diffHeight <= 2500 && !this.posts.postsLoading && total !== this.posts.pageCount.currentPage
          && this.posts.pageCount.totalPages !== 0) {
          this.posts.pageCount.currentPage += 1;
          this.$store.dispatch(POSTS_PW_REQUEST, this.posts.pageCount.currentPage).then(() => {
          });
        }
      },
      changeViewButton() {
        this.changeView = this.changeView === false;
      },
    },
    destroyed() {
      window.removeEventListener('scroll', this.infinityScroll);
    },
  };
</script>

<style scoped>
    .bg-purple-light {
        background: #fcfeff;
    }
</style>
