<template>
  <div>
    <div class="admin-top-navigation">
      <span><router-link :to="$baseUrl + '/admin-post-manager/teaser-list'">Тизеры</router-link></span>
      <span><router-link :to="$baseUrl + '/admin-post-manager'">Опубликованное</router-link></span>
      <span><router-link :to="$baseUrl + '/admin-post-manager/moderating-waiting'">На модерации</router-link></span>
      <span><router-link :to="$baseUrl + '/admin-post-manager/published-waiting'">Запланированные</router-link></span>
      <span><router-link :to="$baseUrl + '/admin-post-manager/wow-article'">Статьи WoW</router-link></span>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
  /* eslint-disable no-unused-vars */

  /* eslint-disable no-console */
  export default {
    name: 'AdminPostManager',
  };
</script>

<style scoped>
  .router-link-exact-active.active {
    border-bottom: 3px solid dodgerblue;
    padding-bottom: 5px;
  }
</style>
