<template>
    <div class="admin-list-body">
      <div class="grid-x grid-margin-x admin-post-list" v-for="(post, index) in posts.posts" :key="post.id">

        <div class="cell auto">
          <div class="admin-post-list-title">
            <router-link v-bind:to="$baseUrl + '/category-list/' + post.categories[0] + '/post/' + post.id">{{post.title}}</router-link>
          </div>
          <div class="admin-post-list-info">
            <span>id: {{post.id}}</span>
            <span>Дата публикации: {{ post.createdAt | formatDate }}</span>
          </div>
        </div>

        <div class="cell shrink">
          <el-dropdown trigger="click">
          <span class="el-dropdown-link">
            <i style="font-size: 30px" class="el-icon-more el-dropdown-link-i"></i>
          </span>
            <el-dropdown-menu slot="dropdown">
              <router-link v-bind:to="$baseUrl + '/edit/' + post.id">
                <el-dropdown-item>Редактировать</el-dropdown-item>
              </router-link>
              <a v-on:click="postDelete(index, post.id)">
                <el-dropdown-item>Удалить</el-dropdown-item>
              </a>
              <el-dropdown-item>Предосмотр</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
      <div v-show="posts.postsLoading" style="height: 60px;"><loading></loading></div>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { CATEGORY_PURGE, POSTS_BY_CATEGORY_REQUEST } from '../../../store/actions/PostGet';
  import { POST_DELETE } from '../../../store/actions/PostActions';

  export default {
    name: 'admin-wow-article',
    data() {
      return {
        category: { page: 0, category: ['wow'] },
      };
    },
    created() {
      this.$store.commit(CATEGORY_PURGE);
      this.$store.dispatch(POSTS_BY_CATEGORY_REQUEST, this.category).then(() => {
      });
    },
    computed: {
      ...mapGetters({
        posts: 'postsByCategory',
      }),
    },
    methods: {
      postDelete(index, id) {
        this.$confirm('Вы собираетесь удалить эту статью. Продолжить?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning',
        }).then(() => {
          this.posts.posts.splice(index, 1);
          this.$store.dispatch(POST_DELETE, id);
          this.$message({
            type: 'success',
            message: 'Статья удалена',
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Удаление отменено',
          });
        });
      },
      infinityScroll() {
        const total = this.posts.pageCount.totalPages - 1;
        const diffHeight = Math.floor(Math.abs(document.documentElement.scrollHeight
          - document.documentElement.scrollTop));
        if (diffHeight <= 2500 && !this.posts.postsLoading && total !== this.posts.pageCount.currentPage
          && this.posts.pageCount.totalPages !== 0) {
          this.posts.pageCount.currentPage += 1;
          this.category.page = this.posts.pageCount.currentPage;
          this.$store.dispatch(POSTS_BY_CATEGORY_REQUEST, this.category).then(() => {
          });
        }
      },
    },
  };
</script>

<style scoped>

</style>
