<template>
    <div v-if="posts" class="grid-x">
        <div v-if="!changeView" class="cell auto admin-list-body">
            <div class="grid-x grid-margin-x admin-post-list" v-for="(post, index) in teaserFilter" :key="index">

                <div class="cell auto">
                    <div class="admin-post-list-title">
                      <router-link v-bind:to="$baseUrl + '/category-list/' + post.categories[0] + '/post/' + post.id">{{post.title}}</router-link>
                    </div>
                    <div class="admin-post-list-info">
                        <span>id: {{post.id}}</span>
                        <span>с {{ post.teaserFrom | date }} по {{ post.teaserTo | date }}</span>
                        <span v-if="post.source">Источник: <a :href="post.source.url" target="_blank">{{post.source.name}}</a></span>
                        <span v-bind:class="typeTitleColor(post.type)">{{typeTitle(post.type)}}</span>
                    </div>
                </div>

                <div class="cell shrink">
                    <el-dropdown trigger="click">
          <span class="el-dropdown-link">
            <i style="font-size: 30px" class="el-icon-more el-dropdown-link-i"></i>
          </span>
                        <el-dropdown-menu slot="dropdown">
                          <router-link v-bind:to="$baseUrl + '/edit/' + post.id">
                                <el-dropdown-item>Редактировать</el-dropdown-item>
                            </router-link>
                            <a v-on:click="postDelete(index, post)">
                                <el-dropdown-item>Удалить</el-dropdown-item>
                            </a>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </div>
        </div>


        <div v-else class="cell auto">
            <div class="posts-body">
                <post v-for="(post, index) in teaserFilter" v-bind:post="post" :user="user" :key="index"></post>
            </div>
        </div>

        <div class="large-7 medium-7">
            <div class="admin-right-info first">
                <div class="admin-chang-view-button">
                    <el-button size="mini" type="primary" v-on:click="changeViewButton">{{changeViewText}}</el-button>
                </div>
                <el-radio-group v-model="radio">
                    <el-radio :label="1">Всё</el-radio>
                    <el-radio :label="2">Тизеры</el-radio>
                    <el-radio :label="3">Фичеры</el-radio>
                </el-radio-group>
            </div>
        </div>
    </div>
</template>

<script>
  /* eslint-disable no-unused-vars */

  import { mapGetters } from 'vuex';
  import { TEASER_DELETE, TEASERS_REQUEST } from '../../../store/actions/Teaser';
  /* eslint-disable no-console */
  export default {
    name: 'edit-post-list',
    data() {
      const changeView = false;
      const changeButtonText = '';
      const page = 0;
      const count = '';
      return {
        page, count, changeView, changeButtonText, radio: 1,
      };
    },
    created() {
      this.$store.dispatch(TEASERS_REQUEST);
      window.addEventListener('scroll', this.infinityScroll);
    },

    computed: {
      ...mapGetters({
        posts: 'teasers',
        user: 'user',
      }),
      changeViewText() {
        if (this.changeView) {
          this.changeButtonText = 'Показать список';
          return this.changeButtonText;
        }
        this.changeButtonText = 'Показать публикации';
        return this.changeButtonText;
      },
      teaserFilter() {
        let posts = [];
        if (this.radio === 1) {
          posts = this.posts.teasersAll;
        }
        if (this.radio === 2) {
          posts = this.posts.teasers;
        }
        if (this.radio === 3) {
          posts = this.posts.featured;
        }
        return posts;
      },
    },
    methods: {
      postDelete(index, post) {
        this.$confirm('Вы собираетесь удалить этот тизер. Продолжить?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning',
        }).then(() => {
          this.teaserFilter.splice(index, 1);
          this.$store.dispatch(TEASER_DELETE, post).then(() => {
            this.$message({ message: 'Тизер удален', type: 'success', center: true });
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Удаление отменено',
          });
        });
      },
      typeTitle(type) {
        let typeTitle = '';
        if (type === 'TYPE_TEASER') {
          typeTitle = 'Тизер';
        }
        if (type === 'TYPE_FEATURE') {
          typeTitle = 'Фичер';
        }
        return typeTitle;
      },
      typeTitleColor(type) {
        return {
          green: type === 'TYPE_TEASER',
          blue: type === 'TYPE_FEATURE',
        };
      },
      sideScroll() {
        const el = document.querySelector('.first');
        if (window.scrollY > 80) {
          el.setAttribute(
            'style',
            'position: fixed; top: 25px;',
          );
        } else { el.removeAttribute('style'); }
      },
      changeViewButton() {
        this.changeView = this.changeView === false;
      },
    },
    destroyed() {
      window.removeEventListener('scroll', this.infinityScroll);
    },
  };
</script>

<style scoped>
    .bg-purple-light {
        background: #fcfeff;
    }
    .green {
        font-weight: 600;
        color: green;
    }
    .blue {
        font-weight: 600;
        color: #1e88e5;
    }
</style>
