<template>
      <span class="source-buttons">
         <i style="cursor: pointer" @click="approvedSource" :class="online" class="fas fa-circle"></i>
      </span>
</template>

<script>
  import { SOURCE_SAVE } from '../../../../store/actions/Source';

  export default {
    name: 'SourceOnline',
    props: ['source'],
    computed: {
      online() {
        return {
          red: this.source.settings.isApproved === false,
          green: this.source.settings.isApproved === true,
        };
      },
    },
    methods: {
      approvedSource() {
        this.source.settings.isApproved = this.source.settings.isApproved === false;
        this.$store.dispatch(SOURCE_SAVE, this.source);
      },
    },
  };
</script>

<style scoped>
  .red {
    color: #c53030;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    bottom: 1px;
  }

  .green {
    color: #29b520;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    bottom: 1px;
  }
</style>
