<template>
  <div class="loadingio-spinner-reload"><div class="ldio">
    <div><div></div><div></div><div></div></div>
  </div></div>
</template>

<script>
  export default {
    name: 're-sending-comment',
  };
</script>

<style scoped>
  @keyframes ldio { 0% { transform: rotate(0) } 100% { transform: rotate(360deg); } }
  .ldio > div {
    animation: ldio 1s linear;
    transform-origin: 50px 50px;
    animation-play-state: paused;
  }
  .ldio:hover > div {
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  .ldio > div div { position: absolute; }
  .ldio > div div:nth-child(1), .ldio > div div:nth-child(2) {
    width: 82px;
    height: 82px;
    border: 12px solid;
    border-radius: 50%;
    border-color: transparent #2499f9 #2499f9 #2499f9;
    box-sizing: border-box;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 50px 50px;
  }
  .ldio > div div:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }
  .ldio > div div:nth-child(2) {
    transform: rotate(27deg) translate(9px, 9px);;
  }
  .ldio > div div:nth-child(3) {
    width: 0;
    height: 0;
    border: 12px solid;
    border-color: transparent transparent transparent #2499f9;
    transform: translate(50px, 3px);
  }
  .loadingio-spinner-reload {
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.24);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio div { box-sizing: content-box; }
  /* generated by https://loading.io/ */
</style>
