<template>
  <div class="m-top">
    <div class="post-body post-body-entry">
      <h2 style="margin-bottom: 30px">Новая статья</h2>
      <el-input placeholder="Заголовок" type="textarea" v-model="post.title"></el-input>
      <div style="margin-bottom: 20px;">
        <froala :config="config" v-model="post.text"></froala>
      </div>
      <div class="tag-edit-container">
        <PostCategoryAdd :post="post"></PostCategoryAdd>
        <PostTagsAdd :post="post" style="overflow:  hidden;"></PostTagsAdd>
      </div>
      <el-button size="small" type="primary" v-on:click="cleanImg()">Очистить img от p</el-button>
      <el-button size="small" type="success" v-on:click="postAdd()">Добавить</el-button>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-console */
  import { mapGetters } from 'vuex';
  import { POST_ADD } from '../../store/actions/PostActions';
  import PostAnnounceAdd from '../admin-page/post-edit/PostAnnounceAdd';
  import { configFroala } from '../mixins/postEditConfig';

  export default {
    mixins: [configFroala],
    components: {
      'post-announce-add': PostAnnounceAdd,
    },
    name: 'post-new',
    data() {
      const post = {
        title: null,
        text: null,
        tags: [],
        categories: [],
      };
      const config = {
        placeholderText: 'Это будет великолепно!',
        iframe: true,
        imageDefaultAlign: 'center',
        imageDefaultWidth: 0,
        htmlDoNotWrapTags: ['script', 'style', 'img'],
        imageUploadRemoteUrls: false,
      };

      return {
        post, config,
      };
    },
    computed: {
      ...mapGetters(['newPostId']),
    },
    methods: {
      postAdd() {
        this.$store.dispatch(POST_ADD, this.post).then(() => {
          const id = this.newPostId;
          this.$router.push({ path: `${process.env.baseUrl}/edit/${id}` });
        });
      },
      cleanImg() {
        this.post.text = this.post.text.replace(/<p>(<img .*?)<\/p>/g, '$1');
      },
    },
  };
</script>

<style scoped>
</style>
