<template>
  <div class="profile-body m-top">
    <div>
      <vue-headful
              title="WOH.RU - профиль"
              description="Description from vue-headful"
      />
    </div>

    <div class="title">Профиль</div>

    <div class="grid-x grid-margin-x">

      <div v-if="isProfileLoaded"  class="cell shrink">

        <div class="profile-avatar" v-if="user.avatar">
          <img alt="" :src="user.avatar">
          <div class="profile-avatar-edit">
            <div class="profile-avatar-edit-el">
              <a href="#" @click="dialogVisible = true"><i class="el-icon-upload avatar-update-icon"></i> Обновить аватар</a>
            </div>
            <div class="profile-avatar-edit-x">
              <a @click="avatarDel" href="#"><i class="el-icon-close avatar-update-icon"></i></a>
            </div>
          </div>
        </div>

        <label v-if="!user.avatar" class="uploadbutton avatar-uploader">
          <div class="el-upload el-upload--text button">
            <el-button type="text" @click="dialogVisible = true"><i class="el-icon-upload avatar-uploader-icon"></i></el-button>
          </div>
        </label>
      </div>

      <div class="cell large-16 medium-14 small-24">

        <el-tabs v-model="activeName">

          <el-tab-pane label="О вас" name="first">
            <div class="profile-tab-body">
              <div class="profile-change-name">
                <div v-if="!nameInputView">
                  <span>
                      <a @click="nameInputView = true" >{{user.name}}
                        <i class="far fa-pencil"></i>
                      </a>
                  </span>
                </div>
                <el-form @submit.native.prevent="submitName('ruleFormName')" v-if="nameInputView" :model="ruleFormName" annotation-icon :rules="nameRule" ref="ruleFormName" label-width="140px">
                  <el-form-item label="Новое имя" prop="name">
                    <el-input type="text" v-model="ruleFormName.name" auto-complete="off"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button size="small" type="primary" @click="nameInputView = false">Отменить</el-button>
                    <el-button native-type="submit" size="small" type="primary">Сохранить</el-button>
                  </el-form-item>
                </el-form>
              </div>

              <div class="profile-change-annotation">
                <div v-if="!annotationInputView">
                  <a @click="annotationInputView = true"><span>{{annotationEmpty}}</span>
                    <span><i class="far fa-pencil"></i></span>
                  </a>
                </div>
                <el-form @submit.native.prevent="submitStatus()" v-if="annotationInputView" annotation-icon label-width="120px">
                  <el-form-item label="Новый статус">
                    <el-input type="text" v-model="annotation"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button size="small" type="primary" @click="annotationInputView = false">Отменить</el-button>
                    <el-button native-type="submit" size="small">Сохранить</el-button>
                  </el-form-item>
                </el-form>
              </div>
            </div>
          </el-tab-pane>

          <el-tab-pane label="Аккаунт" name="second">
            <div class="profile-tab-body">
              <div class="profile-email">{{user.email}}</div>

              <a class="profile-change-pass" v-if="!changePass" @click="changePass = true">Сменить пароль <i class="far fa-pencil"></i></a>

              <div v-if="changePass">
              <el-form @submit.native.prevent="submitPass('rulePass')" :model="rulePass" annotation-icon :rules="rules2" ref="rulePass" label-width="140px">
                <el-form-item label="Новый пароль" prop="password">
                  <el-input type="password" v-model="rulePass.password" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="Подтверждение" prop="password2">
                  <el-input type="password" v-model="rulePass.password2" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button native-type="submit" size="small" type="primary">Сохранить</el-button>
                </el-form-item>
              </el-form>
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>

      </div>

    </div>

    <el-dialog class="el-dialog-width"
      title="Загрузка новой фотографии"
      :visible.sync="dialogVisible"
      :show-close="false"
      :center="true"
      width="100%">



      <div style="text-align: center">
        <label v-if="uploadButton" class="uploadbutton avatar-uploader">
        <span class="el-button el-button--primary">
          Добавить файл
        </span>
          <input name="file" id="input" v-on:change="avatarCrop()" type="file" multiple/>
        </label>
      </div>
      <div style="max-width: 500px; margin: 0 auto;">
        <img class="float-center" v-show="!cropPreview" id="jcrop_target" style="max-height: 500px;" src="">
        <div><img v-if="cropPreview" style="max-height: 500px;" :src="user.avatar"></div>
      </div>

      <span slot="footer" class="dialog-footer">
      <span v-show="image">
        <span><el-button size="small" v-show="image" id="clear" type="primary">Выбрать другой файл</el-button></span>
        <span><el-button size="small" v-show="cropPreview" v-on:click="avatarReCrop()" type="primary">Выбрать другую область</el-button></span>
        <span><el-button size="small" v-show="!cropPreview" id="save" type="primary">Сохранить</el-button></span>
        <span><el-button size="small" type="primary" id="close">Закрыть</el-button></span>
      </span>
  </span>
    </el-dialog>
    </div>
</template>

<script>
  /* eslint-disable no-console, */
  import 'what-input';
  import { mapGetters } from 'vuex';
  import { AVATAR_SAVE, AVATAR_DEL, USER_SAVE, USER_SAVE_PASS } from '../../store/actions/user';
  import '../../assets/js/jquery.Jcrop';


  export default {
    name: 'UserProfile',
    data() {
      const ruleFormName = { name: '' };
      const userChange = {};
      const newPass = {};
      const changePass = false;
      const cropPreview = false;
      const annotationInputView = false;
      const nameInputView = false;
      const uploadButton = true;
      const image = null;
      const coords = {};
      const annotation = '';
      const label = { title: 'Уведомления', count: '99+' };

      const validateName = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Пожалуйста введите имя'));
        } else {
          if (value.length < 3) {
            callback(new Error('Минимальная длина имени 3 символа!'));
          } else if (value.length > 20) {
            callback(new Error('Максимальная длина имени 20 символов!'));
          }
          callback();
        }
      };

      const validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Пожалуйста введите новый пароль'));
        } else {
          if (this.rulePass.password2 !== '') {
            this.$refs.rulePass.validateField('password2');
          }
          callback();
        }
      };
      const validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Пожалуйста повторите введённый пароль'));
        } else if (value !== this.rulePass.password) {
          callback(new Error('Введённые пароли не совпадают!'));
        } else {
          callback();
        }
      };
      return {
        changePass,
        cropPreview,
        annotation,
        userChange,
        newPass,
        image,
        nameInputView,
        annotationInputView,
        label,
        uploadButton,
        coords,
        activeName: 'first',
        rulePass: {
          password: '',
          password2: '',
        },
        ruleFormName,
        nameRule: {
          name: [
            { validator: validateName, trigger: 'blur' },
          ],
        },
        rules2: {
          password: [
            { validator: validatePass, trigger: 'blur' },
          ],
          password2: [
            { validator: validatePass2, trigger: 'blur' },
          ],
        },
        dialogVisible: false,
      };
    },
    mounted() {
    },
    created() {
    },
    computed: {
      ...mapGetters(['user', 'isProfileLoaded']),
      annotationEmpty() {
        if (!this.user.annotation) {
          this.user.annotation = 'Изменить статус';
        }
        return this.user.annotation;
      },
    },
    methods: {
      avatarCrop() {
        const self = this;
        let file = [];
        if (this.image) {
          file = this.image;
        } else {
          [file] = document.querySelector('input[type=file]').files;
          this.image = file;
        }
        const reader = new FileReader();
        let jcropApi;

        if (file.type !== 'image/jpeg' && file.type !== 'image/png') {
          return;
        }
        function showCoords(c) {
          self.coords.x = Math.round(c.x);
          self.coords.x2 = Math.round(c.x2);
          self.coords.y = Math.round(c.y);
          self.coords.y2 = Math.round(c.y2);
          self.coords.h = Math.round(c.h);
          self.coords.w = Math.round(c.w);
        }

        reader.readAsDataURL(file);
        reader.onloadend = () => {
          document.getElementById('jcrop_target').src = reader.result;
          const realSize = document.getElementById('jcrop_target');
          self.uploadButton = false;
          $('#jcrop_target').Jcrop({
            onChange: showCoords,
            onSelect: showCoords,
            setSelect: [16, 16, 384, 384],
            aspectRatio: 1,
            trueSize: [realSize.naturalWidth, realSize.naturalHeight],
          }, function button() {
            jcropApi = this;
            $('#clear').click(() => {
              jcropApi.destroy();
              self.clearStyle();
            });
            $('#save').unbind('click').click(() => {
              self.user.avatar = '';
              self.avatarSave();
              jcropApi.destroy();
              self.cropPreview = true;
            });
            $('#close').click(() => {
              self.clearStyle();
              jcropApi.destroy();
              self.dialogVisible = false;
            });
          });
        };
      },
      avatarSave() {
        this.image.coords = this.coords;
        this.$store.dispatch(AVATAR_SAVE, this.image).then(() => {
        });
      },
      avatarDel() {
        this.$store.dispatch(AVATAR_DEL).then(() => {
          this.clearStyle();
        });
      },
      avatarReCrop() {
        this.cropPreview = false;
        this.avatarCrop();
      },
      clearStyle() {
        this.uploadButton = true;
        this.cropPreview = false;
        this.image = '';
        document.getElementById('jcrop_target').removeAttribute('style');
        document.getElementById('jcrop_target').setAttribute('style', 'max-height: 500px');
        document.getElementById('jcrop_target').removeAttribute('src');
      },
      submitPass(rulePass) {
        this.$refs[rulePass].validate((valid) => {
          if (valid) {
            this.$store.dispatch(USER_SAVE_PASS, this.rulePass).then(() => {
              this.changePass = false;
              this.rulePass.password = '';
              this.rulePass.password2 = '';
              this.$notify({
                title: 'Изменение пароля',
                message: 'Новый пароль сохранён',
                type: 'success',
              });
            });
          } else {
            console.log('error submit!!');
          }
        });
      },
      submitName(ruleFormName) {
        this.$refs[ruleFormName].validate((valid) => {
          if (valid) {
            this.userChange.id = this.user.id;
            this.userChange.name = this.ruleFormName.name;
            this.$store.dispatch(USER_SAVE, this.userChange).then(() => {
              this.nameInputView = false;
            });
          } else {
            console.log('error submit!!');
          }
        });
      },
      submitAnnotation() {
        this.userChange.id = this.user.id;
        this.userChange.name = this.user.name;
        this.userChange.annotation = this.annotation;
        this.$store.dispatch(USER_SAVE, this.userChange).then(() => {
          this.annotationInputView = false;
        });
      },
    },
  };
</script>

<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 100px;
    color: #5d6e80;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .uploadbutton input {
    display: none;
  }
</style>
