<template>
  <div class="grid-x m-top">
    <div class="large-18 cell post-body-entry">
      <el-form @submit.native.prevent="getUser" annotation-icon :inline="true">
        <el-form-item>
          <el-input type="text" v-model="input"></el-input>
        </el-form-item>
      </el-form>
      <div v-if="userById.id">
        <user-avatar-by-id :user="userById"></user-avatar-by-id>
        <account-settings-by-id :user="userById"></account-settings-by-id>
      </div>
    </div>
  </div>
</template>

<script>

  import { mapGetters } from 'vuex';
  import { USER_REQUEST_BY_ID } from '../../../store/actions/user';
  import AccountSettingsById from './parts/AccountSettingsById';
  import UserAvatarById from './parts/UserAvatarById';

  export default {
    name: 'user-administration',
    components: { UserAvatarById, AccountSettingsById },
    data() {
      return { input: null };
    },
    created() {
      if (this.$route.params.id) {
        this.$store.dispatch(USER_REQUEST_BY_ID, this.$route.params.id);
      }
    },
    computed: {
      ...mapGetters(['userById']),
    },
    methods: {
      getUser() {
        this.$store.dispatch(USER_REQUEST_BY_ID, this.input).then(() => {
          console.log(this.userById);
        });
      },
    },
  };
</script>

<style scoped>

</style>
