<template>
  <div class="user-page-container grid-x">
    <vue-headful
      title="WOH.RU - добавить статью"
      description="Description from vue-headful"
    />

    <div class="shrink cell auto-for-small">
      <a @click="test">Тест</a>
    </div>
  </div>
</template>

<script>

import { CoolTextArea } from 'cool-emoji-picker';
import EmojiData from 'cool-emoji-picker/emoji-data/ru/emoji-all-groups.json';
import EmojiGroups from 'cool-emoji-picker/emoji-data/emoji-groups.json';
import 'froala-editor/css/themes/dark.min.css';
import UserSlideInfo from './user-profile/parts/UserSlideInfo';
import { configFroala } from './mixins/postEditConfig';

// class Chameleon {
//   static colorChange(newColor) {
//     this.newColor = newColor;
//     console.log('1', this);
//     return this.newColor;
//   }
//   test() {
//     console.log('3', this);
//   }
//   constructor({ newColor = 'green' } = {}) {
//     this.newColor = newColor;
//     console.log('2', this);
//   }
// }
//
// const freddie = new Chameleon({ newColor: 'purple' });
// console.log(freddie); // purple

// eslint-disable-next-line no-unused-vars
/* eslint-disable no-underscore-dangle */
class Task {
  constructor(title = Task.getDefaultTitle(), count = Task.getDefaultCount()) {
    this.title = title;
    this._count = count;
    this._done = false;
  }
  get done() {
    return this._done === true ? 'Выполнена' : 'Не выполнена';
  }
  get count() {
    return this._count;
  }

  set done(value) {
    console.log(typeof value);
    if (value !== undefined && typeof value === 'boolean') {
      this._done = value;
    } else {
      console.error('Ошибка! Значение должно иметь тип boolean');
    }
  }
  set count(value) {
    if (value !== undefined && typeof value === 'number') {
      this._count = value;
    } else {
      console.error('Ошибка! Значение должно иметь тип number');
    }
  }

  complete() {
    this.done = true;
  }
  countPlus() {
    this.count *= this.count;
  }
  static getDefaultTitle() {
    return 'Задача по умолчанию';
  }
  static getDefaultCount() {
    return 1;
  }
}

const task = new Task('Задача 1', 2);
task.complete();
task.countPlus();
console.log(task.done, task._done);
console.log(task.count, task._count);


export default {
  mixins: [configFroala],
  name: 'user-new-post',
  components: { UserSlideInfo, cooltextarea: CoolTextArea },
  data() {
    const post = {
      title: '', text: '', tags: [], categories: [], teaserImage: null,
    };
    const top = 54;
    return {
      content: null,
      post,
      testText: null,
      autosize: { minRows: 1, maxRows: 6 },
      allow: true,
      message: '',
      top,
      linkInitControls: null,
      initializeLink: (linkInitControls) => {
        this.linkInitControls = linkInitControls;
        this.linkInitControls.initialize();
      },
    };
  },
  computed: {
    saveAllow() {
      this.allow = this.post.title.length <= 2;
      return this.allow;
    },
    emojiDataAll() {
      return EmojiData;
    },
    emojiGroups() {
      return EmojiGroups;
    },
  },
  methods: {
    test() {
    },
  },
};
</script>

<style scoped>
  .line {
    border-bottom: 1px solid #d8d8d8;
    margin: 20px 0;
  }

  .editor {
    padding-bottom: 50px;
    max-width: 780px;
  }

  .no-padding {
    padding: 0;
  }
</style>
