<template>
    <div class="tags-block">

        <div class="user-tags">
            <div class="post-category-item" v-bind:class="categoryColor(category)" v-for="category in categories">
                <a v-on:click="addFromYourTag(category)">{{ categoryTitles(category) }}<span>+</span></a>
            </div>
        </div>

    </div>
</template>

<script>
  export default {
    name: 'PostCategoryAdd',
    data() {
      const categories = ['news', 'articles', 'reviews', 'preview', 'guides', 'video', 'wow'];
      return {
        categories,
      };
    },
    methods: {
      addFromYourTag(category) {
        if (this.post.categories.indexOf(category) !== -1) {
          this.post.categories.splice(this.post.categories.indexOf(category), 1);
        } else { this.post.categories.push(category); }
      },
      categoryColor(category) {
        return {
          'c-news': category === 'news',
          'c-article': category === 'articles',
          'c-review': category === 'reviews',
          'c-preview': category === 'preview',
          'c-guide': category === 'guides',
          'c-movie': category === 'video',
          'c-wow': category === 'wow',
          checked: this.post.categories.indexOf(category) !== -1,
          unchecked: this.post.categories.indexOf(category) === -1,
        };
      },
      categoryTitles(category) {
        let categoryTitle = '';
        if (category === 'news') {
          categoryTitle = 'Новость';
        }
        if (category === 'articles') {
          categoryTitle = 'Статья';
        }
        if (category === 'reviews') {
          categoryTitle = 'Обзор';
        }
        if (category === 'preview') {
          categoryTitle = 'Превью';
        }
        if (category === 'guides') {
          categoryTitle = 'Гайд';
        }
        if (category === 'video') {
          categoryTitle = 'Видео';
        }
        if (category === 'wow') {
          categoryTitle = 'WoW';
        }
        return categoryTitle;
      },
    },
    props: ['post'],
  };
</script>

<style scoped>
    .el-tag + .el-tag {
        margin-left: 10px;
    }

    .button-new-tag {
        height: 30px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .input-new-tag {
        height: 30px;
        line-height: 30px;
        width: 120px;
        vertical-align: bottom;
    }

    .input-new-tag input {
        height: 30px;
        line-height: 30px;
    }

    .post-category-item {
        font-size: 14px;
        border-radius: 2px;
        padding: 3px 8.95px;
        margin-left: 0;
        margin-right: 10px;
        display: -webkit-inline-flex;
        display: inline-flex;
    }

    .post-category-item a {
        color: white;
        font-weight: 400;
        font-size: 12px;
    }

    .c-news {
        background-color: #2196F3;
    }

    .c-article {
        background-color: #197dc8;
    }

    .c-review {
        background-color: #00BCD4;
    }

    .c-preview {
        background-color: #3cc842;
    }

    .c-guide {
        background-color: #FFC107;
    }

    .c-movie {
        background-color: #FF5722;
    }

    .c-wow {
        background-color: #607D8B;
    }

    .checked {
        filter: none;
    }

    .unchecked {
        background-color: #979797;
    }

</style>
