<template>
  <div class="post-preview-page-container">
    <el-button type="primary" icon="el-icon-view" size="mini" @click="dialogTableVisible = true">Предосмотр</el-button>

    <el-dialog title="Предосмотр страницы" width="880px" top="5vh" :visible.sync="dialogTableVisible">
      <div class="large-18 cell m-top">

        <div class="post-body">
          <div class="post-header">
            <h1>{{ post.title }}</h1>
          </div>

          <div class="post-source">
            <div class="post-time">{{post.publishedAt | formatDate }}</div>
            <div v-if="post.source"><a :href="post.source.url" target="_blank" title="источник"> {{post.source.name}}</a></div>
          </div>

          <div class="post-content">
            <img v-if="post.announce" class="post-teaser" :src="imagePreview">
            <div v-if="!post.announce" class="post-text" v-html="post.text"></div>

            <div class="post-header-info grid-x">

              <div class="cell shrink">
                <post-tags v-if="post" :post="post"></post-tags>
              </div>

              <div class="cell auto"></div>

              <div class="cell shrink post-h-r">
                <post-categories v-if="post" :post="post"></post-categories>
              </div>
            </div>

            <div v-if="post.announce" class="post-text-details" v-html="post.text"></div>

          </div>

          <post-like v-if="post" :post="post" :user="user"></post-like>
        </div>

      </div>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    name: 'post-preview-page',
    data() {
      return {
        dialogTableVisible: false,
      };
    },
    props: ['post', 'user', 'imagePreview'],
  };
</script>

<style scoped>
  .post-preview-page-container {
    margin-left: 15px;
  }
</style>
