<template>
  <div>
    <el-button size="mini" type="primary" @click="openDialog">Загрузить изображения</el-button>
    <el-dialog
      title="Добавьте изображения"
      width="820px"
      :lock-scroll="true"
      :before-close="handleClose"
      :visible.sync="teaserEditDialog">
      <div>
        <div class="admin-teaseredit-control">
          <el-radio-group class="admin-teaser-radio" v-model="radioImage">
            <el-radio :label="1">Тизер</el-radio>
            <el-radio :label="2">Фичер</el-radio>
          </el-radio-group>
          <el-button size="mini" type="primary" @click="save">Сохранить</el-button>
          <div class="admin-teaser-info">
            <el-button class="loading-b" title="Загрузить изображения из поста" size="small" type="success" icon="el-icon-picture-outline" @click="getTeasersPost" circle></el-button>
            <el-popover
              popper-class="admin-preview-info-popover"
              placement="bottom"
              title="Модер, наличие изображения для превью обязательно!"
              width="400"
              trigger="click"
              content="Тизер для поста, топ-тизера и блока ЕЩЁ общий.
              Для фичера можно добавить свой. Если у фичера отсутствует своё изображение,
              при сохранении в этом интерфейсе оно будет автоматически скопировано из тизера.">
              <a slot="reference"><i style="font-size: 26px" class="el-icon-warning"></i></a>
            </el-popover>
          </div>
        </div>

        <el-input placeholder="Вставь ссылку - получишь результат" v-model.trim="stringSrc" v-on:input="getImageFromInput(stringSrc)"></el-input>
        <vue-select-image :dataImages="postImagesArr"
                          @onselectimage="getPostImageTeaser">
        </vue-select-image>

        <div v-show="radioImage === 1">
          <croppa
            v-model="myCroppaTeaser"
            @file-choose="handleCroppaFileChoose"
            :width="780"
            :height="360"
            placeholder="Загрузите изображение"
            placeholder-color="#000"
            :placeholder-font-size="16"
            canvas-color="transparent"
            :show-remove-button="true"
            remove-button-color="black"
            :prevent-white-space="true"
            :show-loading="true"
            :remove-button-size="25"
            :initial-image="initialTeaser">
          </croppa>
        </div>

        <div v-show="radioImage === 2">
            <croppa
              v-model="myCroppaFeatured"
              @file-choose="handleCroppaFileChoose"
              :width="780"
              :height="360"
              placeholder="Загрузите изображение"
              placeholder-color="#000"
              :placeholder-font-size="16"
              canvas-color="transparent"
              :show-remove-button="true"
              remove-button-color="black"
              :prevent-white-space="true"
              :show-loading="true"
              :remove-button-size="25"
              :initial-image="initialFeatured">
            </croppa>
        </div>

      </div>
    </el-dialog>
  </div>
</template>

<script>
  import { POST_SAVE } from '../../../store/actions/PostActions';
  import getImages from '../../services/ImagesFinder';

  export default {
    name: 'post-teaser-add',
    data() {
      const stringSrc = '';
      const myCroppaTeaser = null;
      const myCroppaFeatured = null;
      const initialTeaser = null;
      const initialFeatured = null;
      return {
        quality: 0.5,
        changedImgFlag: false,
        teaserEditDialog: false,
        radioImage: 1,
        teaserPreview: null,
        featuredPreview: null,
        myCroppaTeaser,
        myCroppaFeatured,
        initialTeaser,
        initialFeatured,
        postImagesArr: null,
        imagesLoadingDone: true,
        stringSrc,
      };
    },
    props: ['post'],
    methods: {
      getTeasersPost() {
        this.postImagesArr = getImages(this.post);
        console.log(this.postImagesArr);
      },
      openDialog() {
        this.postImagesArr = getImages(this.post);
        this.changedImgFlag = false;
        if (this.post.teaserImage) {
          this.initialTeaser = `${process.env.imgRoot}${this.post.teaserImage}`;
        }
        if (this.post.featuredImage) {
          this.initialFeatured = `${process.env.imgRoot}${this.post.featuredImage}`;
        }
        this.teaserEditDialog = true;
      },
      handleCroppaFileChoose() {
        this.changedImgFlag = true;
      },
      getPostImageTeaser(img) {
        this.changedImgFlag = true;
        if (this.radioImage === 1) {
          this.initialTeaser = img.url;
          this.myCroppaTeaser.refresh();
        }
        if (this.radioImage === 2) {
          this.initialFeatured = img.url;
          this.myCroppaFeatured.refresh();
        }
      },
      getImageFromInput(url) {
        this.changedImgFlag = true;
        if (this.radioImage === 1) {
          this.initialTeaser = `${process.env.imgProxy}${url}`;
          console.log(this.initialTeaser);
          this.myCroppaTeaser.refresh();
        }
        if (this.radioImage === 2) {
          this.initialFeatured = `${process.env.imgProxy}${url}`;
          this.myCroppaFeatured.refresh();
        }
      },
      save() {
        this.post.teaserImage = this.myCroppaTeaser.generateDataUrl('image/jpeg', this.quality);
        this.post.nearestImage = this.myCroppaTeaser.generateDataUrl('image/jpeg', 0.3);

        if (!this.myCroppaFeatured.generateDataUrl('image/jpeg')) {
          this.initialFeatured = this.initialTeaser;
          this.myCroppaFeatured.refresh();
          this.post.featuredImage = this.myCroppaTeaser.generateDataUrl('image/jpeg', this.quality);
        } else {
          this.post.featuredImage = this.myCroppaFeatured.generateDataUrl('image/jpeg', this.quality);
        }
        this.changedImgFlag = false;
        this.$store.dispatch(POST_SAVE, this.post).then(() => {
          this.$message({ message: 'Сохранено.', type: 'success', center: true });
        });
      },
      handleClose(done) {
        if (this.changedImgFlag) {
          this.$confirm('Сохранить изменения?')
            .then(() => {
              this.save();
              done();
            })
            .catch(() => {
              done();
            });
        } else {
          done();
        }
      },
    },
  };
</script>

<style scoped>
  .loading-b {
    font-size: 16px;
    margin-right: 10px;
    padding: 6px;
  }
</style>
