<template>
  <div class="preview-editor">
      <froala :config="config" v-model="post.announce"></froala>
  </div>
</template>

<script>
    import { configFroala } from '../../mixins/postEditConfig';

    export default {
      name: 'post-announce-add',
      mixins: [configFroala],

      data() {
        return {
          config: { toolbarBottom: false },
        };
      },
      props: ['post'],
      methods: {
        previewShow() {
          this.preview = this.preview === false;
        },
      },
    };
</script>

<style scoped>
  .preview-editor {
    margin-top: 20px;
  }
</style>
