<template>
    <div class="admin-teaser-container">
        <div class="teaser-add-container">
            <el-radio-group class="radio-group" v-model="radio">
                <el-radio label="1">Тизер</el-radio>
                <el-radio label="2">Фичер</el-radio>
            </el-radio-group>

            <div v-if="radio === '1'" class="time-range">
                <el-date-picker
                        v-model="teaserRange"
                        @focus="setTeaserPickerTime"
                        type="datetimerange"
                        range-separator="до"
                        start-placeholder="Начало"
                        end-placeholder="Конец"
                        size="small"
                        format="dd-MM-yyyy HH:mm:ss"
                        :picker-options="teaserPickerOptions">
                </el-date-picker>
                <el-button size="small" type="primary" v-on:click="teaserPublish">Добавить тизер</el-button>
            </div>
            <div v-if="radio === '2'" class="time-range">
                <el-date-picker
                        v-model="featuredRange"
                        @focus="setFeaturedPickerTime"
                        type="datetimerange"
                        range-separator="до"
                        start-placeholder="Начало"
                        end-placeholder="Конец"
                        size="small"
                        format="dd-MM-yyyy HH:mm:ss"
                        :picker-options="featuredPickerOptions">
                </el-date-picker>
                <el-button size="small" type="primary" v-on:click="teaserPublish">Добавить фичер</el-button>
            </div>
        </div>

            <el-radio-group v-if="teasersByPostId.teasersAll.length > 1" class="radio-group" v-model="radioList">
                <el-radio :label="1">Всё</el-radio>
                <el-radio :label="2">Тизеры</el-radio>
                <el-radio :label="3">Фичеры</el-radio>
            </el-radio-group>

            <div v-for="(post, index) in teasersByPostId.teasersAll">
                <div class="teaser-el">
                    <div v-bind:class="typeTitleColor(post.type)">{{typeTitle(post.type)}}</div>
                    <div>с {{ post.teaserFrom | date }} по {{ post.teaserTo | date }}</div>
                    <div><a v-on:click="teaserDelete(index, post)">Удалить</a></div>
                </div>
            </div>
    </div>
</template>

<script>
  /* eslint-disable prefer-destructuring,no-unused-vars */
  import { mapGetters } from 'vuex';
  import moment from 'moment';
  import { TEASER_DELETE, TEASER_SAVE, TEASERS_BY_POST_ID_REQUEST, TEASERS_REQUEST } from '../../../store/actions/Teaser';

  export default {
    name: 'post-teaser-add',
    data() {
      return {
        allowAddTeaser: true,
        radio: '1',
        radioList: 1,
        teaserRange: [],
        featuredRange: [],
        teaser: {},
        teaserPickerOptions: {
          shortcuts: [{
            text: 'В конец +3ч',
            end: null,
            start: null,
            onClick(picker) {
              picker.$emit('pick', [this.start, this.end]);
            },
          }],
        },
        featuredPickerOptions: {
          shortcuts: [{
            text: 'В конец +3ч',
            end: null,
            start: null,
            onClick(picker) {
              picker.$emit('pick', [this.start, this.end]);
            },
          }],
        },
      };
    },
    props: ['post'],
    created() {
      this.$store.dispatch(TEASERS_REQUEST);
      this.$store.dispatch(TEASERS_BY_POST_ID_REQUEST, this.$route.params.id);
    },
    computed: {
      ...mapGetters(['teasers', 'teasersByPostId']),
      teaserFilter() {
        let posts = [];
        if (this.radioList === 1) {
          posts = this.teasersByPostId.teasersAll;
        }
        if (this.radioList === 2) {
          posts = this.teasersByPostId.teasers;
        }
        if (this.radioList === 3) {
          posts = this.teasersByPostId.featured;
        }
        return posts;
      },
    },
    methods: {
      addTeaserIdiotResist() {
        this.allowAddTeaser = true;
        if (!this.post.teaserImage && this.radio === '1') {
          this.allowAddTeaser = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Добавление тизера невозможно',
              duration: '7000',
              message: 'Нет картинки тизера!',
              type: 'warning',
            });
          }, 99);
        }
        if (!this.teaserRange[0] && this.radio === '1') {
          this.allowAddTeaser = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Добавление тизера невозможно',
              duration: '7000',
              message: 'Установи диапазон дат!',
              type: 'warning',
            });
          }, 99);
        }
        if (!this.post.featuredImage && this.radio === '2') {
          this.allowAddTeaser = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Добавление фичера невозможно',
              duration: '7000',
              message: 'Нет картинки фичера!',
              type: 'warning',
            });
          }, 99);
        }
        if (!this.featuredRange[0] && this.radio === '2') {
          this.allowAddTeaser = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Добавление фичера невозможно',
              duration: '7000',
              message: 'Установи диапазон дат!',
              type: 'warning',
            });
          }, 99);
        }
        return this.allowAddTeaser;
      },
      teaserPublish() {
        if (this.addTeaserIdiotResist()) {
          if (this.radio === '1') {
            this.teaser.isTeaser = true;
            this.teaser.from = this.teaserRange[0];
            this.teaser.to = this.teaserRange[1];
            console.log(this.teaserRange);
          } else {
            this.teaser.isTeaser = false;
            this.teaser.from = this.featuredRange[0];
            this.teaser.to = this.featuredRange[1];
          }
          this.teaser.post = this.$route.params.id;

          this.$store.dispatch(TEASER_SAVE, this.teaser).then(() => {
            this.$store.dispatch(TEASERS_BY_POST_ID_REQUEST, this.$route.params.id);
            this.$notify({ message: 'Тизер добавлен', type: 'success' });
          });
        }
      },
      teaserDelete(index, post) {
        this.$confirm('Вы собираетесь удалить тизер. Продолжить?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning',
        }).then(() => {
          this.teaserFilter.splice(index, 1);
          this.$store.dispatch(TEASER_DELETE, post).then(() => {
            this.$message({ message: 'Тизер удален', type: 'success', center: true });
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Удаление отменено',
          });
        });
      },
      typeTitle(type) {
        let typeTitle = '';
        if (type === 'TYPE_TEASER') {
          typeTitle = 'Тизер';
        }
        if (type === 'TYPE_FEATURE') {
          typeTitle = 'Фичер';
        }
        return typeTitle;
      },
      typeTitleColor(type) {
        return {
          green: type === 'TYPE_TEASER',
          blue: type === 'TYPE_FEATURE',
        };
      },
      setTeaserPickerTime() {
        this.teaserPickerOptions.shortcuts[0].end = moment(this.teasers.teaserLastEndTime).add(3, 'hour').format();
        this.teaserPickerOptions.shortcuts[0].start = moment(this.teasers.teaserLastEndTime).format();
      },
      setFeaturedPickerTime() {
        this.featuredPickerOptions.shortcuts[0].end = moment(this.teasers.featuredLastEndTime).add(3, 'hour').format();
        this.featuredPickerOptions.shortcuts[0].start = moment(this.teasers.featuredLastEndTime).format();
      },
    },
  };
</script>

<style scoped>
    .bg-purple-light {
        background: #fcfeff;
    }
    .green {
        font-weight: 600;
        color: green;
    }
    .blue {
        font-weight: 600;
        color: #1e88e5;
    }
    .teaser-el {
        display: flex;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .teaser-el div {
        margin-right: 20px;
    }
    .radio-group {
        margin-bottom: 20px;
    }
    .teaser-add-container {
        margin-bottom: 40px;
    }
</style>
