<template>
  <div class="grid-x m-top">
    <vue-headful
      title="WOH.RU - редактирование"
      description="Description from vue-headful"
    />
    <loading v-if="!post"></loading>
    <div v-if="post" class="large-18 cell post-body-entry">
      <el-input type="textarea" v-model="post.title"></el-input>
      <el-select v-model="post.source.id" filterable placeholder="Выбрать">
        <el-option
          v-for="source in sources"
          :key="source.id"
          :label="source.name"
          :value="source.id">
        </el-option>
      </el-select>

      <div v-bind:class="darkThem">
        <froala :config="config" v-model="post.text"></froala>
      </div>

      <div class="admin-preview-container">
        <el-button type="primary" icon="el-icon-view" size="mini" v-on:click="previewShow()">
          <span v-if="!post.announce">Добавить текст превью</span>
          <span v-if="post.announce">Редактировать текст превью</span>
        </el-button>
        <post-preview-page :imagePreview="imagePreview" :user="user" :post="post"></post-preview-page>
      </div>

      <post-announce-add v-if="preview" :post="post"></post-announce-add>

      <div class="tag-edit-container">
        <PostCategoryAdd :post="post"></PostCategoryAdd>
        <PostTagsAdd :post="post" style="overflow:  hidden;"></PostTagsAdd>
      </div>

      <div class="admin-teaser-container">

        <div class="admin-teaser-buttons">
          <el-radio v-model="radio" label="1">Тизер (тизер поста и тизер)</el-radio>
          <el-radio v-model="radio" label="2">Фичер</el-radio>
          <post-image-add :post="post"></post-image-add>
          <div class="admin-teaser-info">
            <el-popover
                    popper-class="admin-teaser-info-popover"
                    placement="bottom"
                    title="Модер, наличие изображения для превью обязательно!"
                    width="400"
                    trigger="click"
                    content="Тизер для поста, топ-тизера и блока ЕЩЁ общий.
              Для фичера можно добавить свой. Если у фичера отсутствует своё изображение,
              при сохранении в этом интерфейсе оно будет автоматически скопировано из тизера.">
              <a slot="reference"><i style="font-size: 26px" class="el-icon-warning"></i></a>
            </el-popover>
          </div>
        </div>

        <div class="admin-teaser-preview">
          <img v-if="radio === '1'" v-bind:src="teaserImagePreview" alt="">
          <img v-if="radio === '2'" v-bind:src="featuredImagePreview" alt="">
        </div>

      </div>

      <post-teaser-add :post="post"></post-teaser-add>

    </div>


    <div v-show="post" class="large-6 show-for-large">
      <div class="admin-right-info first">
        <div class="right-info-header">Настройки</div>
        <div class="right-info-body">
          <div class="admin-right-panel-info">
            <div><span>id:</span> {{ post.id }}</div>
            <div><span>Создано:</span> {{ post.createdAt | date }}</div>
            <div><span>Опуб-но:</span> {{ post.publishedAt | date }}</div>
            <div><span>Отред-но:</span> {{ post.moderatedAt | date }}</div>

            <span class="b">Статус:</span> <span v-show="post.isAllowed" style="color: #2bb35e;">Опубликовано</span>
            <span v-if="post" v-show="!post.isAllowed" style="color: crimson;">Не опубликовано</span>
            <el-date-picker
                    v-model="post.publishedAt"
                    type="datetime"
                    @change="publishedAtChange"
                    size="small"
                    placeholder="Дата публикации"
                    format="dd-MM-yyyy HH:mm:ss">
            </el-date-picker>
          </div>
          <div class="admin-right-panel-buttons">
              <el-button size="small" type="success" v-on:click="postSave">Сохранить</el-button>

              <el-button size="small" type="primary" v-if="post.isAllowed" v-on:click="postPublish">Снять с публикации
              </el-button>
              <el-button size="small" type="success" v-if="!post.isAllowed" v-on:click="postPublish">Опубликовать
              </el-button>

            <el-button size="small" type="primary" v-on:click="switchBackground">Тёмный фон редактора</el-button>

            <el-button size="small" type="primary" v-on:click="cleanImg">Очистить img от p</el-button>
            <el-button size="small" type="primary" v-on:click="postPublishIdiotResist">тест резиста</el-button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import FroalaEditor from 'froala-editor';
  import moment from 'moment';
  import PostImageAdd from './PostImageAdd';
  import PostAnnounceAdd from './PostAnnounceAdd';
  import PostPreviewPage from './PostPreviewPage';
  import PostTeaserAdd from './PostTeaserAdd';
  import { POST_PURGE, POST_REQUEST } from '../../../store/actions/PostGet';
  import { POST_SAVE, POST_ALLOW, POST_DISALLOW } from '../../../store/actions/PostActions';
  import { configFroala } from '../../mixins/postEditConfig';
  import { SOURCES_GET } from '../../../store/actions/Source';

  FroalaEditor.DefineIcon('clear', { NAME: 'remove', SVG_KEY: 'remove' });
  FroalaEditor.RegisterCommand('clear', {
    title: 'Очистить всё',
    focus: true,
    undo: true,
    refreshAfterCallback: true,
    callback() {
      // this.html.insert('<img src="../../static/w4.gif" style="display: inline; vertical-align: top; margin: 5px auto; text-align: center;" class="fr-draggable">');
      // this.image.get();
      // this.image.align('left');
      // this.image.display('inline');
      this.html.set('');
      this.events.focus();
    },
  });

  export default {
    mixins: [configFroala],
    name: 'post-edit',
    components: {
      'post-image-add': PostImageAdd,
      'post-announce-add': PostAnnounceAdd,
      'post-preview-page': PostPreviewPage,
      'post-teaser-add': PostTeaserAdd,
    },
    data() {
      const message = 'Привет';
      return {
        imagePreview: null,
        featuredPreview: null,
        allowToPublish: true,
        radio: '1',
        message,
        config: { toolbarBottom: false },
        wowheadBlack: false,
        preview: false,
      };
    },
    created() {
      this.imagePreview = null;
      this.featuredPreview = null;
      this.$store.commit(POST_PURGE);
      this.$store.dispatch(POST_REQUEST, this.$route.params.id);
      this.$store.dispatch(SOURCES_GET);
      window.addEventListener('scroll', this.sideScroll);
    },
    computed: {
      ...mapGetters(['post', 'user', 'postStatus', 'teasers', 'sources']),
      teaserImagePreview() {
        if (this.post.teaserImage && this.post.teaserImage.indexOf('http://dev.woh.ru') === -1) {
          this.imagePreview = `${process.env.imgRoot}${this.post.teaserImage}`;
        }
        return this.imagePreview;
      },
      featuredImagePreview() {
        if (this.post.featuredImage && this.post.featuredImage.indexOf('http://dev.woh.ru') === -1) {
          this.featuredPreview = `${process.env.imgRoot}${this.post.featuredImage}`;
        }
        return this.featuredPreview;
      },
      darkThem() {
        return {
          'wowhead-background': this.wowheadBlack === true,
        };
      },
    },
    methods: {
      previewShow() {
        this.preview = this.preview === false;
      },
      switchBackground() {
        this.wowheadBlack = this.wowheadBlack === false;
      },
      publishedAtChange() {
        if (this.post.publishedAt) {
          this.post.publishedAt = moment(this.post.publishedAt).format();
        }
      },
      postSave() {
        const re = /&amp;/g;
        this.post.title = this.post.title.replace(re, '&');
        this.$store.dispatch(POST_SAVE, this.post).then(() => {
          this.$message({ message: 'Сохранено.', type: 'success', center: true });
        });
      },
      postPublish() {
        if (this.post.isAllowed) {
          this.$store.dispatch(POST_DISALLOW, this.post.id).then(() => {
            // this.post.isAllowed = false;
            this.$message({ message: 'Публикация снята.', type: 'success', center: true });
          });
        } else if (this.postPublishIdiotResist()) {
          if (!this.post.publishedAt) {
            this.post.publishedAt = new Date().toISOString();
          }
          this.$store.dispatch(POST_SAVE, this.post);
          this.$store.dispatch(POST_ALLOW, this.post.id).then(() => {
            // this.post.isAllowed = true;
            this.$message({ message: 'Опубликовано.', type: 'success', center: true });
          });
        }
      },
      postPublishIdiotResist() {
        this.allowToPublish = true;
        if (!this.post.title) {
          this.allowToPublish = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Опубликование невозможно',
              duration: '7000',
              message: 'Не заполнено поле "Тайтл"',
              type: 'warning',
            });
          }, 99);
        }
        if (!this.post.source.name) {
          this.allowToPublish = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Опубликование невозможно',
              duration: '7000',
              message: 'Не заполнено поле "Источник"',
              type: 'warning',
            });
          }, 100);
        }
        if (!this.post.text) {
          this.allowToPublish = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Опубликование невозможно',
              duration: '7000',
              message: 'Это вохочка, а не квадрат малевича! Добавь текст поста лол',
              type: 'warning',
            });
          }, 101);
        }
        if (!this.post.teaserImage) {
          this.allowToPublish = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Опубликование невозможно',
              duration: '7000',
              message: 'Отсутствует картинка тизера!',
              type: 'warning',
            });
          }, 102);
        }
        if (this.post.categories.length === 0) {
          this.allowToPublish = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Опубликование невозможно',
              duration: '7000',
              message: 'Не выбрана категория!',
              type: 'warning',
            });
          }, 102);
        }
        if (this.post.tags.length === 0) {
          this.allowToPublish = false;
          setTimeout(() => {
            this.$notify.error({
              title: 'Опубликование невозможно',
              duration: '7000',
              message: 'Не добавлены теги!',
              type: 'warning',
            });
          }, 102);
        }
        return this.allowToPublish;
      },
      cleanImg() {
        this.post.text = this.post.text.replace(/<p>(<img .*?)<\/p>/g, '$1');
      },
      sideScroll() {
        const el = document.querySelector('.first');
        if (window.scrollY > 80) {
          el.setAttribute(
            'style',
            'position: fixed; top: 25px; width: 250px',
          );
        } else { el.removeAttribute('style'); }
      },
    },
    destroyed() {
      window.removeEventListener('scroll', this.sideScroll);
    },
    watch: {
      // eslint-disable-next-line no-unused-vars
      $route(to, from) {
        this.imagePreview = null;
        this.featuredPreview = null;
        this.$store.dispatch(POST_REQUEST, this.$route.params.id);
      },
    },
  };
</script>

<style>
  .el-date-editor .el-range-input {
    width: 40%;
  }

  .el-date-editor .el-range-separator {
    width: 7%;
  }

  .time-range {
    margin-bottom: 20px;
  }

  .time-range-title {
    font-size: 14px;
    margin-right: 5px;
  }

  .t {
    margin-right: 18px;
  }

  .image-mask .mask {
    background-color: rgba(43, 43, 43, 0.6);
  }

  .wowhead-background .fr-wrapper {
    background-color: #242424!important;
    color: #bbb;
  }

</style>
