<template>
  <div :class="sendError" v-if="comment" class="comment-body">

    <div class="comment-header">
      <div>
        <img :src="avatar" alt="avatar" class="comment-user-avatar" v-if="comment.user.avatar">
        <avatar :customStyle="{ 'margin-right': '10px' }" :size="35" :username="comment.user.name"
                v-if="!comment.user.avatar"></avatar>
      </div>

      <div class="comment-header-sub">
        <router-link v-bind:to="$baseUrl + '/user-administration/' + comment.user.id">
        <span class="comment-user">
          {{comment.user.name}}
        </span>
        </router-link>
        <span class="comment-reply" v-if="comment.replyTo !== null && comment.replyTo.id !== null">
            <i class="fal fa-chevron-right"></i> <span class="comment-replay-user">{{comment.replyTo.user.name}}</span>
          </span>
        <div class="comment-date">
          <div v-if="showCommentEl">{{comment.createdAt | formatDate}}</div>
          <div v-if="comment.status === 'sending'">Добавление комментария <sending-loading></sending-loading></div>
          <div v-if="comment.status === 'error'">Что-то пошло не так...</div>
        </div>
      </div>
      <div class="comment-like">
        <comment-like v-if="showCommentEl" :comment="comment"></comment-like>
        <div v-if="comment.status === 'error'" class="comment-send-redo">
          <img @click="deleteTemporaryComment" src="../../assets/images/icons/new/close-b.png" title="Удалить" alt="">
          <img @click="resendingComment" src="../../assets/images/icons/new/redo.png" title="Отправить снова" alt="">
        </div>
      </div>

    </div>

    <div class="comment-text" v-html="commentText()" v-show="!edit" v-linkified></div>

    <div v-show="!edit && this.comment.media && this.comment.media.length > 0" class="comment-media">
      <div @click="showGallery(index)" :class="flexBasis(item.thumbnail)" class="comment-media-el" v-for="(item, index) in comment.media">
        <i v-if="item.embedCode" class="fab fa-youtube video"></i>
        <img v-if="item.thumbnail.content" :src="item.thumbnail.content">
        <img v-if="item.thumbnail.url" :src="commentImageUrl(item.thumbnail.url)">
      </div>
    </div>


    <div v-if="edit" class="comment-edit">
      <cool-text-area :comment="comment" :edit="edit" v-on:cancelEdit="commentEdit" :replyTo="replyTo"></cool-text-area>
    </div>


    <div class="comment-footer" v-if="showCommentEl">
      <div class="comment-reply-button">
        <a href="#edit" v-on:click="replay()">Ответить</a>
      </div>
      <div class="comment-edit-buttons">
          <i class="far fa-pen comment-footer-edit" v-if="commentButtonEdit && !deleteVisible" v-on:click="commentEdit()"></i>
          <i @click="deleteVisible = true" class="fal fa-times comment-footer-delete" v-if="commentButtonDelete && !deleteVisible"></i>

        <div v-if="deleteVisible" class="button-group">
            <i @click="commentDelete()" class="far fa-check button-approve" title="Удалить"></i>
            <i @click="deleteVisible = false" class="fal fa-times button-cancel" title="Отмена"></i>
        </div>

      </div>
    </div>

      <media-gallery-dialog :dialogVisible="dialogVisible" :media="comment.media" :index="index.i"></media-gallery-dialog>
    <div v-if="comment.status === 'error'" class="error-info secondary-text">
      <div>Комментарий не добавлен попробуйте отправить снова</div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-console */

  import { mapGetters } from 'vuex';
  import { COMMENT_ADD_REQUEST, COMMENT_DELETE, COMMENT_DELETE_TEMPORARY } from '../../store/actions/comments';
  import MediaGalleryDialog from '../parts/MediaGalleryDialog';
  import SendingLoading from '../parts/misc/SendingLoading';
  import CoolTextArea from '../cool-emoji-picker/src/components/cooltextarea/cooltextarea.vue';

  export default {
    name: 'Comments',
    components: {
      SendingLoading, MediaGalleryDialog, CoolTextArea,
    },
    data() {
      const edit = false;
      return {
        edit,
        deleteVisible: false,
        vertical: false,
        dialogVisible: { visible: false },
        index: { i: null },
        gallery: null,
        showEl: true,
      };
    },
    props: ['comment', 'replyTo', 'commentIndex'],
    computed: {
      ...mapGetters(['user']),
      sendError() {
        return {
          'send-error': this.comment.status === 'error',
        };
      },
      showCommentEl() {
        this.showEl = (!this.comment.status || this.comment.status === 'success') && !this.edit;
        return this.showEl;
      },
      avatar() {
        if (this.comment.user.avatar && this.comment.user.avatar.indexOf('http://dev.woh.ru') === -1) {
          this.comment.user.avatar = `${process.env.imgRoot}${this.comment.user.avatar}`;
        }
        return this.comment.user.avatar;
      },
      replayAvatar() { // для ховера на реплей, пока отсутствует
        if (this.comment.replyTo.user.avatar && this.comment.replyTo.user.avatar.indexOf('http://dev.woh.ru') === -1) {
          this.comment.replyTo.user.avatar = `${process.env.imgRoot}${this.comment.replyTo.user.avatar}`;
        }
        return this.comment.replyTo.user.avatar;
      },
      commentButtonEdit() {
        let showButtonEdit = false;
        if (this.comment.user.id === this.user.id || this.user.access) {
          showButtonEdit = true;
        }
        return showButtonEdit;
      },
      commentButtonDelete() {
        let showButtonDelete = false;
        if (this.comment.user.id === this.user.id || this.user.access) {
          showButtonDelete = true;
        }
        return showButtonDelete;
      },
    },
    methods: {
      showGallery(i) {
        this.dialogVisible.visible = true;
        this.index.i = i;
      },
      flexBasis(el) {
        return {
          'flex-basis-5': this.comment.media.length > 5 && this.comment.media.length < 7,
          'flex-basis-7': this.comment.media.length > 6,
          'is-vertical': el.width < el.height,
          'is-vertical-one': el.width < el.height && this.comment.media.length < 2,
        };
      },
      commentImageUrl(img) {
        let image = img;
        if (image && image.indexOf('http://dev.woh.ru') === -1) {
          image = `${process.env.imgRoot}${image}`;
        }
        return image;
      },
      commentText() {
        // eslint-disable-next-line prefer-destructuring
        let text = this.comment.text;
        text = text.replace(/(\r\n|\n)/g, '<br/>');
        return text;
      },
      commentDelete() {
        this.comment.postId = this.$route.params.id;
        this.$store.dispatch(COMMENT_DELETE, this.comment).then(() => {
        });
      },
      commentEdit() {
        this.edit = this.edit === false;
      },
      replay() {
        this.replyTo.id = this.comment.id;
        this.replyTo.user.name = this.comment.user.name;
      },
      resendingComment() { // переотправка неотправленного комментария
        this.comment.id = null;
        this.comment.status = 'sending';
        this.$store.dispatch(COMMENT_ADD_REQUEST, this.comment);
      },
      deleteTemporaryComment() {
        this.$store.commit(COMMENT_DELETE_TEMPORARY, this.commentIndex);
      },
    },
  };
</script>

<style scoped>
  .fa-chevron-right {
    margin: 0 5px;
    color: #b5b5b5;
    font-size: 12px;
  }
  .button-group {
    line-height: 0;
  }
  .button-group i {
    font-size: 18px;
  }
  .video {
    position: absolute;
    top: 45%;
    right: 45%;
    color: #ded7d7;
    font-size: 31px;
  }
  .redo {
    font-size: 22px;
    color: #409eff;
  }
  .redo:hover {
    transition: 1s;
    backface-visibility: hidden;
    transform: rotate(45deg) translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .comment-send-redo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .comment-send-redo img:first-child {
    margin-right: 10px;
  }
  .error-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #ffffff;
    background: #E7AE00;
    opacity: 0.8;
    min-height: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send-error {
    border: 1px solid #E7AE00;
  }
</style>
