<template>
  <div>
        <cooltextarea
          :comment="comment"
          :replyTo="replyTo"
          :edit="edit"
          :appendToBody="true"
          @cancelEdit="cancelEdit"
          ref="commentText">
        </cooltextarea>
  </div>
</template>

<script>
  /* eslint-disable no-useless-escape */
  import { mapGetters } from 'vuex';
  import CoolTextArea from '../cool-emoji-picker/src/components/cooltextarea/cooltextarea.vue';
  // eslint-disable-next-line no-unused-vars
  export default {
    name: 'CommentInputForm',
    components: { cooltextarea: CoolTextArea },
    props: ['comment', 'edit', 'replyTo'],
    computed: {
      ...mapGetters(['user']),
    },
    methods: {
      cancelEdit() {
        this.$emit('edit');
      },
    },
  };
</script>

<style scoped>
  input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
  label {
    width: 40px;
  }
  .comment-input-el-del {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(29,32,34,.6);
    border-radius: 0 0 0 2px;
    padding: 5px;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 12px;
  }
  .video {
    position: absolute;
    top: 45%;
    right: 45%;
    color: #ded7d7;
    font-size: 31px;
  }

</style>
