<template>
  <div class="grid-x">

    <vue-headful
      title="WOH.RU - вход"
      description="Description from vue-headful"
    />

    <div class="cell login-block">
      <div class="logo">
          <img src="../../assets/images/logo/background.png" alt="">
      </div>

        <el-form @submit.native.prevent="login()" :label-position="labelPosition" label-width="70px">
          <span class="login-error" v-if="wrongAuth">Вы ввели неверный логин или пароль!</span>
          <el-form-item label-width="0" label="">
           <el-input v-focus type="email" required v-model="email" />
          </el-form-item>

          <el-form-item label-width="0" label="">
            <el-input type="password" required v-model="password" />
          </el-form-item>

          <el-button native-type="submit" type="success">Войти</el-button>
        </el-form>
  </div>
  </div>

</template>

<script>
  import { mapGetters } from 'vuex';
  import { AUTH_REQUEST } from '../../store/actions/auth';

  export default {
    name: 'login',

    data() {
      return {
        labelPosition: 'left',
        activeName: 'first',
        name: '',
        email: '',
        password: '',
      };
    },
    computed: {
      ...mapGetters(['authStatus']),
      wrongAuth() {
        return this.authStatus === 'error';
      },
    },
    methods: {
      login() {
        const { email, password } = this;
        this.$store.dispatch(AUTH_REQUEST, { email, password }).then(() => {
          this.$router.push(`${process.env.baseUrl}/`);
        });
      },
    },
  };
</script>

<style scoped>
  .login-block {
    width: 350px;
    margin: 10% auto;
  }
  .logo img {
    display: block;
    margin: 30px auto;
  }
</style>
