<template>
  <el-dialog style="overflow: hidden;" width="98%" top="5vh" class="comment-media-dialog" @opened="openGallery" @close="closeGallery" :visible.sync="dialogVisible.visible">
  <div v-if="media" class="media-gallery-container">
    <swiper ref="mySwiper" :options="swiperOption">
      <swiper-slide v-for="(item, index) in gallery" :key="index">
        <div class="media-gallery-video" v-if="item.embedCode">
          <div class="fr-video" v-html="item.embedCode">
          </div>
        </div>
        <div class="media-gallery-img" v-else>
          <img v-if="item.thumbnail.url" :src="image(item.thumbnail.url)" alt="">
          <img v-if="item.thumbnail.content" :src="item.thumbnail.content">
        </div>
      </swiper-slide>
      <div class="swiper-pagination"  slot="pagination"></div>
    </swiper>
    <div class="swiper-button-prev" slot="button-prev"><i class="el-icon-arrow-left left"></i></div>
    <div class="swiper-button-next" slot="button-next"><i class="el-icon-arrow-right right"></i></div>
  </div>
  </el-dialog>
</template>

<script>
  import 'swiper/dist/css/swiper.css';
  import { swiper, swiperSlide } from 'vue-awesome-swiper';

  export default {
    name: 'media-gallery-dialog',
    components: {
      swiper,
      swiperSlide,
    },
    props: ['media', 'index', 'dialogVisible'],
    data() {
      return {
        swiperOption: {
          keyboard: true,
          slidesPerView: 1,
          autoHeight: false,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        },
        gallery: null,
      };
    },
    computed: {
      swiper() {
        return this.$refs.mySwiper.swiper;
      },
    },
    methods: {
      openGallery() {
        this.gallery = this.media;
        this.swiper.slideTo(this.index, 0, false);
      },
      closeGallery() {
        this.gallery = null;
      },
      image(img) {
        let image = '';
        if (img && img.indexOf('http://dev.woh.ru') === -1) {
          image = `${process.env.imgRoot}${img}`;
        }
        return image;
      },
    },
  };
</script>

<style scoped>
  .media-gallery-container {
    position: relative;
  }
  .back-button-container, .next-button-container {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    background-color: #13131385;
    padding: 21px;
    opacity: 0.8;
  }
  .next-button-container {
    right: 0;
  }

  .back-button-container:hover, .next-button-container:hover {
    opacity: 1;
    transition: opacity .2s;
  }

  .media-gallery-container i {
    font-size: 65px;
    color: #dadada;
    position: absolute;
  }

  .media-gallery-body {
    padding: 0 42px;
  }

  .media-gallery-img {
    display: flex;
    justify-content: center;
    height: 90vh;
  }

  .media-gallery-container img {
    max-height: 700px;
  }
  .media-gallery-img img {
    max-height: 90vh;
    margin: auto 0;
    border-radius: 3px;
  }
  .media-gallery-video {
    width: 70%;
    margin: 0 auto;
  }
  .left {
    top: 50%;
    left: 0;
  }
  .right {
    top: 50%;
    right: 0;
  }
</style>
