<template>
    <div class="mobile-hashtags ">
        <div class="mobile-hashtags-container">

            <div class="mobile-hashtags-tabs">

                <div class="mobile-hashtags-tabs-wrp">
                    <div class="mobile-hashtags-title">Популярное:</div>
                    <router-link v-bind:to="$baseUrl + '/tag/WoW Classic'">
                        <div class="mobile-hashtags-item">#<span class="mobile-hashtags-name">WoW Classic</span></div>
                    </router-link>
                    <router-link v-bind:to="$baseUrl + '/tag/fallout'">
                        <div class="mobile-hashtags-item">#<span class="mobile-hashtags-name">fallout</span></div>
                    </router-link>
                    <router-link v-bind:to="$baseUrl + '/tag/графика'">
                        <div class="mobile-hashtags-item">#<span class="mobile-hashtags-name">графика</span></div>
                    </router-link>
                    <router-link v-bind:to="$baseUrl + '/tag/nintendo'">
                        <div class="mobile-hashtags-item">#<span class="mobile-hashtags-name">nintendo</span></div>
                    </router-link>
                    <router-link v-bind:to="$baseUrl + '/tag/RDR2'">
                        <div class="mobile-hashtags-item">#<span class="mobile-hashtags-name">RDR2</span></div>
                    </router-link>
                    <router-link v-bind:to="$baseUrl + '/tag/destiny2'">
                        <div class="mobile-hashtags-item">#<span class="mobile-hashtags-name">destiny2</span></div>
                    </router-link>
                    <router-link v-bind:to="$baseUrl + '/tag/WOH'">
                        <div class="mobile-hashtags-item">#<span class="mobile-hashtags-name">WOH</span></div>
                    </router-link>
                    <router-link v-bind:to="$baseUrl + '/tag/The Sims 4'">
                        <div class="mobile-hashtags-item">#<span class="mobile-hashtags-name">The Sims 4</span></div>
                    </router-link>
                    <router-link v-bind:to="$baseUrl + '/tag/PUBG LOL'">
                        <div class="mobile-hashtags-item">#<span class="mobile-hashtags-name">PUBG LOL</span></div>
                    </router-link>
                </div>

            </div>

        </div>

    </div>
</template>

<script>
  export default {
    name: 'MobileWidgetHashtag',
  };
</script>

<style scoped>

</style>
