<template>
<div>
  <div class="discussion-header"><h2>Обсуждаемые</h2></div>
  <div class="discussion-item" v-for="postLast in newPosts" :key="postLast.id">
    <router-link v-bind:to="$baseUrl + '/category/' + postLast.categories[0] + '/' + postLast.id"><h3>{{postLast.title}}</h3>
    </router-link>
  </div>
  <a><h4>Смотреть все</h4></a>
</div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { POSTS_REQUEST } from '../../store/actions/PostGet';

  export default {
    name: 'most-commented',
    created() {
      if (this.posts.posts.length === 0) {
        this.$store.dispatch(POSTS_REQUEST, 0).then(() => {
        });
      }
    },
    mounted() {
    },
    computed: {
      ...mapGetters(['posts']),
      newPosts() {
        return this.posts.posts.slice(0, 5);
      },
    },
  };
</script>

<style scoped>

</style>
