<template>
  <div class="wow-navbar-body">
    <div class="wow-navbar-container">

    </div>
  </div>
</template>

<script>
  export default {
    name: 'WowNavbar',
  };
</script>

<style scoped>
  .wow-navbar-body {
    width: 100%;
    height: 50px;
    background-color: #0a0a0a;
  }
  .wow-navbar-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
</style>
