<template>
      <el-dialog class="auth-mobile"
        custom-class="auth-dialog"
        :show-close="false"
        :close-on-click-modal="false"
        :visible.sync="authorizeShow"
        :before-close="modalShow"
        @open="setDefaultLayout">
        <div @click="modalShow" class="close-button">
          <img src="../../assets/images/icons/new/close-b.png" alt="">
        </div>
        <component v-bind:layout.sync="layout" v-on:success="modalShow" v-bind:is="layout"></component>

      </el-dialog>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { AUTH_SHOW } from '../../store/actions/auth';
  import Login from './Login';
  import Registration from './Registration';
  import RegistrationSuccess from './RegistrationSuccess';
  import PasswordRecovery from './PasswordRecovery';
  import PasswordRecoverySuccess from './PasswordRecoverySuccess';

  export default {
    name: 'authorize-modal-container',
    components: {
      Registration, Login, RegistrationSuccess, PasswordRecovery, PasswordRecoverySuccess,
    },
    data() {
      return {
        layout: 'login',
        testString: '',
      };
    },
    computed: {
      ...mapGetters(['authorizeShow']),
    },
    methods: {
      setDefaultLayout() {
        this.layout = 'login';
      },
      modalShow() {
        this.$store.commit(AUTH_SHOW);
      },
    },
  };
</script>

<style scoped>
  .close-button {
    position: absolute;
    cursor: pointer;
    right: 24px;
    top: 24px;
    line-height: 1;
  }
</style>
