<template>
  <div class="auth-container">
    <h2>Восстановление пароля</h2>

    <el-form @submit.native.prevent="registration()" :label-position="labelPosition" label-width="70px">

      <el-form-item label="Почта">
        <el-input placeholder="Введите вашу электронную почту" v-focus type="email" required v-model="email" />
        <div class="login-error" v-if="errorEmail">Такая учётная запись не существует</div>
      </el-form-item>

    </el-form>

    <div class="button-group">

      <div class="button-wrap">
        <button v-on:click="$emit('update:layout', 'login')" class="button">
          Отмена
        </button>
      </div>

      <div class="button-wrap">
        <button v-on:click="$emit('update:layout', 'password-recovery-success')" class="button-filled">
          <span v-if="!sending" class="special-text">Восстановить</span>
          <sending-loading v-if="sending"></sending-loading>
        </button>
      </div>

    </div>
  </div>
</template>

<script>
   import SendingLoading from '../parts/misc/SendingLoading';

export default {
     name: 'password-recovery',
     components: { SendingLoading },
     data() {
       return {
         sending: false,
         errorEmail: false,
         email: null,
         labelPosition: 'top',
       };
     },
};
</script>

<style scoped>
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .button-wrap {
    width: 100%;
  }
  .button-group div:first-child {
    margin-right: 24px;
  }
  .special-text {
    color: #FFFFFF;
  }
</style>
