<template>
  <div class="auth-success-container">
    <div class="text-align-center"><h2>Успех</h2></div>

    <p class="info">На указанную вами почту было отправлено письмо с подтверждением</p>

    <div class="text-align-center"><a v-on:click="$emit('success')" class="special-text">Закрыть</a></div>

  </div>
</template>

<script>
  export default {
    name: 'registration-success',
  };
</script>

<style scoped>
  .info {
    text-align: center;
    margin: 31px 0 34px;
    color: #666666;
  }
</style>
