<template>
  <div class="auth-container">
    <h2>Регистрация</h2>

    <el-form @submit.native.prevent="registration()" :label-position="labelPosition" label-width="70px">

      <el-form-item label="Почта">
        <el-input placeholder="Введите вашу электронную почту" v-focus type="email" required v-model="formData.email" />
        <div class="login-error" v-if="confirmRegistration">Такая учётная запись уже существует</div>
      </el-form-item>

      <el-form-item label="Пароль">
        <el-input style="margin-bottom: 4px" placeholder="Введите пароль" type="password" required v-model="formData.password" />
        <el-input v-on:blur="verificationPassword" placeholder="Введите пароль еще раз" type="password" required v-model="formData.password2" />
        <div class="login-error" v-if="verification">Введенные пароли не совпадают!</div>
      </el-form-item>

      <div class="small-mobile-text policy">При регистрации, вы принимаете Условия обслуживания<br> и Политику конфиденциальности</div>

      <div class="button-wrap registration">
        <button native-type="submit" class="button-filled">
          <span v-if="!sending" class="special-text">Зарегистрироваться</span>
          <sending-loading v-if="sending"></sending-loading>
        </button>
      </div>
    </el-form>

    <div class="text-align-center">
      <p class="secondary-text signin">У меня уже есть учётная запись</p>
    </div>

    <div class="text-align-center">
      <a v-on:click="$emit('update:layout', 'login')" class="special-text">Войти</a>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { AUTH_REGISTRATION } from '../../store/actions/auth';
  import SendingLoading from '../parts/misc/SendingLoading';

  export default {
    name: 'registration',
    components: { SendingLoading },
    data() {
      return {
        sending: false,
        labelPosition: 'top',
        formData: {
          name: null, email: null, password: null, password2: null,
        },
        verification: false,
      };
    },
    computed: {
      ...mapGetters(['regStatus']),
      confirmRegistration() {
        let error = false;
        if (this.regStatus === 'conflict') {
          this.sending = false;
          error = true;
        }
        return error;
      },
    },
    methods: {
      verificationPassword() {
        this.verification = this.formData.password !== this.formData.password2;
      },
      registration() {
        this.verificationPassword();
        if (!this.verification) {
          this.sending = true;
          this.formData.name = this.formData.email;
          this.$store.dispatch(AUTH_REGISTRATION, this.formData).then(() => {
            if (this.regStatus === 'success') {
              this.sending = false;
              this.$emit('update:layout', 'registration-success');
              window.scrollTo(0, 0);
            }
          });
        }
      },
    },
  };
</script>

<style scoped>
  .signin {
    margin-bottom: 8px;
    color: #666666;
  }
  .registration {
    margin-bottom: 24px;
  }
  .policy {
    margin: 8px 0 24px;
    color: #666666;
  }
  .special-text {
    color: #FFFFFF;
  }
</style>
