<template>
  <div>
    <topbar-mobile class="hide-for-medium"></topbar-mobile>
    <sidebar class="show-for-medium"></sidebar>
    <div class="main-container body-margin-left">
      <top-title class="show-for-medium"></top-title>
      <div class="main-body">
        <slot/>
      </div>
    </div>
    <authorize-modal-container></authorize-modal-container>
    <div style="display: none" class="footer body-margin-left">
      <div></div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-console */
  import { mapGetters } from 'vuex';
  import { USER_REQUEST } from './../store/actions/user';
  import Sidebar from './../components/side-bar/Sidebar';
  import TopTitle from './../components/TopTitle';
  import TopbarMobile from '../components/TopbarMobile';
  import AuthorizeModalContainer from '../components/authorize/ModalContainer';

  export default {
    name: 'news',
    components: {
      AuthorizeModalContainer, TopbarMobile, Sidebar, TopTitle,
    },
    data() {
      return {
        showAuth: false,
      };
    },
    created() {
      if (this.$store.getters.isAuthenticated) {
        this.$store.dispatch(USER_REQUEST);
      }
      // eslint-disable-next-line no-unused-vars,camelcase
      const wh = document.createElement('script');
      wh.setAttribute('src', 'https://wow.zamimg.com/widgets/power.js');
      document.head.appendChild(wh);
    },
    mounted() {
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'user']),
    },
  };
</script>

<style scoped>
  .container {
    height: 100vh; /* делаем высоту контейнера равной высоте окна  */
    overflow-y: scroll; /* так же добавляем прокрутку если контент не вмещается в него  */
    overflow-x: hidden;
  }
  .open {
    margin-left: 200px;
  }
</style>
