<template>
    <div class="body">
      <slot/>
    </div>
</template>

<script>
  export default {
    name: 'white-blank',
  };
</script>

<style scoped>
  .body {
    background: white;
    height: 100vh;
  }
</style>
