<template>
  <div class="wow-body">
    <wow-navbar></wow-navbar>
    <div class="wow-container">
      <slot/>
    </div>
  </div>
</template>

<script>
  import WowNavbar from '../components/WoW/WowNavbar';

  export default {
    name: 'wow-layout',
    components: { WowNavbar },
  };
</script>

<style scoped>
  .wow-body {
    background-color: #545454;
    min-height: 100vh; /* делаем высоту контейнера равной высоте окна  */
    overflow-x: hidden;
    color: white;
  }

  .wow-container {
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 30px 0;
    background-color: #242424;
  }
</style>
